<h1>Create Item</h1>
<ul class="nav nav-pills">
  <li class="active"><a href="#subject" data-toggle="tab">Subject</a>
  </li>
  <li><a href="#seab_topic" data-toggle="tab">SEAB Topic</a></li>
  <li><a href="#seab_sub_topic" data-toggle="tab">SEAB Sub Topic</a></li>
  <li><a href="#topic" data-toggle="tab">Topic</a></li>
  <li><a href="#lesson" data-toggle="tab">Lesson</a></li>
  <li><a href="#checkpoint" data-toggle="tab">Checkpoint</a></li>
  <li><a href="#questionanswer" data-toggle="tab">Q&A</a></li>
  <li><a href="#summary" data-toggle="tab">Summary</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active fade in" id="subject">
    <%=render "subjects/form"%>
  </div>
  <div class="tab-pane fade in" id="seab_topic">
    <%=render "seab_topics/form"%>
  </div>
  <div class="tab-pane fade in" id="seab_sub_topic">
    <%=render "seab_sub_topics/form"%>
  </div>
  <div class="tab-pane fade in" id="topic">
    <%=render "topics/form"%>
  </div>
  <div class="tab-pane fade in" id="lesson">
    <%=render "lessons/form"%>
  </div>
  <div class="tab-pane fade in" id="checkpoint">
    <%=render "checkpoints/form"%>
  </div>
  <div class="tab-pane fade in" id="questionanswer">
    <%=render "questionanswers/form"%>
  </div>
  <div class="tab-pane fade in" id="summary">
    <%=render "summaries/form"%>
  </div>
</div>
