<%title "Create Item"%>
<%content_for :header do%>
<%end%>
<%content_for :slogan do%>
<h1>Create Item</h1>
<%end%>
<ul class="nav nav-pills element-center">
  <li class="active"><a href="#subject" data-toggle="tab">Subject</a>
  </li>
  <li><a href="#seab_topic" data-toggle="tab">SEAB Topic</a></li>
  <li><a href="#seab_sub_topic" data-toggle="tab">SEAB Sub Topic</a></li>
  <li><a href="#topic" data-toggle="tab">Topic</a></li>
  <li><a href="#lesson" data-toggle="tab">Lesson</a></li>
  <li><a href="#checkpoint" data-toggle="tab">Checkpoint</a></li>
  <li><a href="#questionanswer" data-toggle="tab">Q&A</a></li>
  <li><a href="#summary" data-toggle="tab">Summary</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active fade in" id="subject">
    <div class="row-fluid">
      <div class="span6">
        <%=render "subjects/form"%>
      </div><!--span6-->
      <div class="span6">
      </div><!--span6-->
    </div><!--rowfluid-->
  </div>
  <div class="tab-pane fade in" id="seab_topic">
    <div class="row-fluid">
      <div class="span6">
        <%=render "seab_topics/form"%>
      </div><!--span6-->
      <div class="span6">
      </div><!--span6-->
    </div><!--rowfluid-->
  </div>
  <div class="tab-pane fade in" id="seab_sub_topic">
    <div class="row-fluid">
      <div class="span6">
        <%=render "seab_sub_topics/form"%>
      </div><!--span6-->
      <div class="span6">
      </div><!--span6-->
    </div><!--rowfluid-->
  </div>
  <div class="tab-pane fade in" id="topic">
    <div class="row-fluid">
      <div class="span6">
        <%=render "topics/form"%>
      </div><!--span6-->
      <div class="span6">
      </div><!--span6-->
    </div><!--rowfluid-->
  </div>
  <div class="tab-pane fade in" id="lesson">
    <div class="row-fluid">
      <div class="span6">
        <%=render "lessons/form"%>
      </div><!--span6-->
      <div class="span6">
      </div><!--span6-->
    </div><!--rowfluid-->
  </div>
  <div class="tab-pane fade in" id="checkpoint">
    <div class="row-fluid">
      <div class="span6">
        <%=render "checkpoints/form"%>
      </div><!--span6-->
      <div class="span6">
      </div><!--span6-->
    </div><!--rowfluid-->
  </div>
  <div class="tab-pane fade in" id="questionanswer">
    <div class="row-fluid">
      <div class="span6">
        <%=render "questionanswers/form"%>
      </div><!--span6-->
      <div class="span6">
      </div><!--span6-->
    </div><!--rowfluid-->
  </div>
  <div class="tab-pane fade in" id="summary">
    <div class="row-fluid">
      <div class="span6">
        <%=render "summaries/form"%>
      </div><!--span6-->
      <div class="span6">
      </div><!--span6-->
    </div><!--rowfluid-->
  </div>
</div>
