<%title "Manage Subjects"%>
<h1>Subjects</h1>
<p class="lead"><%=Checkpoint.all.count%> checkpoints in <%=Lesson.all.count%> lessons</p>
<hr>
<div id="subject-list">
<input type="search" class="search input-block-level" placeholder="Filter List">
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Lessons</th>
      <th>Checkpoints</th>
      <th><a href="#" data-sort="date">Last Updated</a></th>
    </tr>
  </thead>
  <tbody class="list">
  <%Subject.all.each do |subject|%>
    <tr>
      <td class="subject"><%=link_to subject.subject, edit_subject_path(subject)%></td>
      <td class="lessons"><%=subject.lessons.count%></td>
      <td class="checkpoints"><%=subject.checkpoints.count%></td>
      <td class="date">
        <%if subject.checkpoints.count != 0%>
          <%=subject.checkpoints.last.created_at.to_formatted_s(:short)%>
        <%else%>
          N/A
        <%end%>
        </td>
    </tr>
  <%end%>
  </tbody>
</table>
</div><!--subjectlist-->

<%content_for :javascripts do%>
<%=javascript_include_tag "list.min"%>
<script>
var options = {
    valueNames: ['subject','lessons','checkpoints','date']
};

var subjectList = new List('subject-list', options);
</script>
<%end%>