<%title "Profile"%>
<div class="row">
  <div class="span3 hidden-phone">
    <%= image_tag current_user.avatar.url%>
  </div>
  <div class="span9">
    <h1 class="marginbot0"><%=current_user.fullname%></h1>
    <%if current_user.role == "admin"%>
    <p class="margintop0"><%=current_user.title%></p>
    <%else%>
    <p class="margintop0"><%=current_user.school%></p>
    <%end%>
  </div>
</div>
  <%if current_user.role == "admin"%>
  <hr>
  <h2 class="marginbot0">Registry</h2>
  <h6 class="muted margintop0">A quick list of the people you will spam, beg and murder in the course of your servitude.</h6>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Function</th>
        <th>Name</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="icon-smiley"></i> Everything</td>
        <td><%=mail_to('kenneth.lim@openlectures.org','Kenneth Lim')%></td>
        <td>9233 5594</td>
      </tr>
      <tr>
        <td><i class="icon-tasks"></i> Academics</td>
        <td><%=mail_to('gary.lee@openlectures.org','Gary Lee')%></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="icon-link"></i> Outreach</td>
        <td><%=mail_to('gloria.chua@openlectures.org','Gloria Chua')%></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="icon-design"></i> Design</td>
        <td><%=mail_to('su.hang@openlectures.org','Su Hang')%></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="icon-linux"></i> Technology</td>
        <td><%=mail_to('jethro.kuan@openlectures.org','Jethro Kuan')%></td>
        <td>8292 5511</td>
      </tr>
      <tr>
        <td><i class="icon-globe"></i> Publicity</td>
        <td><%=mail_to('samantha.ting@openlectures.org','Samantha Ting')%></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="icon-people"></i> People</td>
        <td><%=mail_to('lydia.liu@openlectures.org','Lydia Liu')%></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="icon-coffee"></i> Money</td>
        <td><%=mail_to('zexuan.ong@openlectures.org','Ong Ze Xuan')%></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="icon-gift"></i> A Lot of Money</td>
        <td><%=mail_to('linan.qiu@openlectures.org','Linan Qiu')%></td>
        <td></td>
      </tr>
      <tr>
        <td><i class="icon-glass"></i> Booze and Parties</td>
        <td><%=mail_to('samantha.ting@openlectures.org','Samantha Ting')%></td>
        <td></td>
    </tbody>
  </table>
  <hr>
  <h3 class="marginbot0">Resources</h3>
  <h6 class="muted margintop0">These items will assist your world domination. They're meant as starters, so feel free to build on them. Also, being the poor, miserly, misogynistic bastards we are, we actively exploit free online services and storage. </h6>
  <h2 class="marginbot0">Documents</h2>
  <ul class="nav nav-pills aligncenter">
    <li>
      <a href="https://docs.google.com/open?id=1aIbgF7cnrc4W-IXvQeTvCF2DGR20V3dOq37mskE_xAv7FhCm3xPH-QxL95wB" target="_blank">
        <h1><i class="icon-pdf"></i></h1>
        <p>Project Starter</p>
      </a>
    </li>
    <li>
      <a href="https://docs.google.com/spreadsheet/ccc?key=0Ah5izavBazoDdHpXc1hzSGNkZjRVMTZacDN0UzU2ekE" target="_blank">
        <h1><i class="icon-excel"></i></h1>
        <p>Lesson Template</p>
      </a>
    </li>
  </ul>
  <hr>
  <h2>Services</h2>
  <ul class="nav nav-pills aligncenter">
    <li>
      <a href="http://facebook.com/openlectures" target="_blank">
        <h1><i class="icon-email-sign"></i></h1>
        <p>Email</p>
      </a>
    </li>
    <li>
      <a href="http://facebook.com/openlectures" target="_blank">
        <h1><i class="icon-facebook-sign"></i></h1>
        <p>Facebook</p>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/openlecturessg" target="_blank">
        <h1><i class="icon-twitter-sign"></i></h1>
        <p>Twitter</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h1><i class="icon-youtube-sign"></i></h1>
        <p>YouTube</p>
      </a>
    </li>
    <li>
      <a href="#">
        <h1><i class="icon-google-sign"></i></h1>
        <p>Google+</p>
      </a>
    </li>
    <li>
      <a href="http://github.com/jethrokuan/ol2" target="_blank">
        <h1><i class="icon-github-sign"></i></h1>
        <p>Github</p>
      </a>
    </li>
  </ul>
<%end%>
