<%title "Profile"%>

<%content_for :header do%>
<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="300px" height="268.555px" viewBox="0 0 300 268.555" enable-background="new 0 0 300 268.555" xml:space="preserve">
<g>
  <path fill="#FFD777" d="M215.122,92.889c43.312,33.303,50.886,94.989,16.918,137.78c-33.968,42.792-96.615,50.484-139.926,17.182
    s-50.885-94.99-16.917-137.781C109.164,67.278,171.81,59.586,215.122,92.889"/>
  <path fill="#FFD777" d="M97.533,138.74c17.264,9.863,21.278,30.516,8.967,46.128c-12.312,15.613-36.288,20.273-53.552,10.409
    c-17.264-9.863-21.279-30.516-8.967-46.128C56.293,133.536,80.27,128.875,97.533,138.74"/>
  <path fill="#FFD777" d="M252.042,125.167c17.265,9.864,21.279,30.517,8.967,46.129c-12.312,15.613-36.288,20.273-53.552,10.409
    c-17.264-9.863-21.278-30.517-8.967-46.129C210.802,119.963,234.778,115.302,252.042,125.167"/>
  <path fill="#B3B3B3" d="M134.041,154.58c12.701,8.113,14.293,23.266,3.557,33.842c-10.737,10.577-29.736,12.574-42.438,4.461
    c-12.701-8.114-14.293-23.266-3.557-33.844C102.339,148.462,121.339,146.464,134.041,154.58"/>
  <line fill="none" stroke="#B3B3B3" stroke-width="20" x1="84.019" y1="165.863" x2="123.472" y2="198.062"/>
  <path fill="#B3B3B3" d="M211.534,149.653c12.7,8.114,14.293,23.266,3.558,33.843c-10.737,10.577-29.737,12.574-42.438,4.46
    c-12.701-8.113-14.294-23.266-3.558-33.842C179.833,143.536,198.833,141.54,211.534,149.653"/>
  <line fill="none" stroke="#B3B3B3" stroke-width="20" x1="215.524" y1="155.453" x2="249.326" y2="114.203"/>
  <path fill="#343434" d="M253.254,73.76c60.091,13.182,62.576,42.58,5.551,65.662c-57.026,23.084-151.968,31.11-212.059,17.928
    c-60.091-13.182-62.577-42.58-5.551-65.663S193.163,60.579,253.254,73.76"/>
  <path fill="#676767" d="M201.458,11.232c36.971,18.643,39.803,53.959,6.325,78.882c-33.479,24.922-90.588,30.013-127.559,11.37
    C43.254,82.842,40.422,47.525,73.9,22.602C107.378-2.32,164.488-7.411,201.458,11.232"/>
  <path fill="#676767" d="M226.311,32.249c11.146,18.517,13.794,49.843,5.915,69.968c-7.879,20.126-23.301,21.43-34.446,2.912
    c-11.145-18.517-13.794-49.843-5.915-69.968S215.166,13.732,226.311,32.249"/>
  <path fill="#676767" d="M205.909,93.531c34.974,4.671,36.013,16.952,2.319,27.429c-33.693,10.476-89.359,15.182-124.333,10.511
    c-34.974-4.672-36.012-16.952-2.319-27.429C115.27,93.565,170.935,88.859,205.909,93.531"/>
  <path fill="#676767" d="M78.68,50.567c9.206,17.097,11.638,45.873,5.433,64.273c-6.205,18.399-18.697,19.455-27.903,2.358
    c-9.206-17.097-11.638-45.873-5.434-64.273C56.981,34.526,69.474,33.47,78.68,50.567"/>
  <g>
    <path fill="#FFFFFF" d="M123.352,45.825c20.573-1.854,33.895,12.531,35.299,28.112c1.404,15.582-9.132,32.117-29.705,33.971
      c-20.572,1.854-33.895-12.531-35.299-28.113C92.243,64.213,102.78,47.679,123.352,45.825z M127.871,95.978
      c11.078-0.998,18.344-10.243,17.39-20.834c-0.954-10.59-9.756-18.387-20.834-17.389s-18.343,10.243-17.389,20.833
      C107.992,89.179,116.793,96.976,127.871,95.978z"/>
    <path fill="#FFFFFF" d="M179.004,24.734l4.75,52.71c0.614,6.815,2.294,9.119,6.265,10.97l7.168,3.281l-4.7,10.487
      c-13.584-5.035-20.077-8.99-21.185-21.284l-4.958-55.022L179.004,24.734z"/>
  </g>
  <g>
    <path fill="#D38300" d="M161.791,221.523l4.693-0.249c1.013,2.333,1.58,4.639,1.701,6.916c0.199,3.754-0.754,6.808-2.86,9.159
      c-2.105,2.352-5.027,3.627-8.765,3.826c-3.771,0.2-6.871-0.725-9.298-2.774c-2.428-2.049-3.735-4.847-3.924-8.394
      c-0.065-1.234-0.007-2.349,0.175-3.343c0.182-0.994,0.557-2.229,1.123-3.707l5.058-0.27c-1.402,2.479-2.049,4.746-1.939,6.797
      c0.113,2.138,0.959,3.854,2.535,5.146c1.577,1.294,3.53,1.878,5.859,1.754c2.45-0.13,4.358-0.977,5.722-2.54
      c1.364-1.562,1.978-3.604,1.844-6.123C163.618,225.896,162.976,223.83,161.791,221.523z"/>
  </g>
  <line fill="none" stroke="#B3B3B3" stroke-width="20" x1="129.684" y1="171.315" x2="178.518" y2="172.809"/>
</g>
<%end%>

<%content_for :slogan do%>
  <%=current_user.fullname%><br/>
  <small><%=current_user.title%></small>
  <%else%>
  <small><%=current_user.school%></small>
<%end%>

<div class="aligncenter">
<h2 class="marginbot0">Registry</h2>
<p>A quick list of the people you will spam, beg and murder in the course of your servitude.</p>
</div><!--aligncenter-->
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Function</th>
      <th>Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><i class="icon-smiley"></i> Everything</td>
    </tr>
    <tr>
      <td><i class="icon-tasks"></i> Academics</td>
    </tr>
    <tr>
      <td><i class="icon-link"></i> Outreach</td>
    </tr>
    <tr>
      <td><i class="icon-design"></i> Design</td>
    </tr>
    <tr>
      <td><i class="icon-linux"></i> Technology</td>
    </tr>
    <tr>
      <td><i class="icon-globe"></i> Publicity</td>
    </tr>
    <tr>
      <td><i class="icon-people"></i> People</td>
    </tr>
    <tr>
      <td><i class="icon-coffee"></i> Money</td>
      <td><%=mail_to('zexuan.ong@openlectures.org','Ong Ze Xuan')%></td>
      <td></td>
    </tr>
    <tr>
      <td><i class="icon-gift"></i> A Lot of Money</td>
      <td><%=mail_to('linan.qiu@openlectures.org','Linan Qiu')%></td>
      <td></td>
    </tr>
    <tr>
      <td><i class="icon-glass"></i> Booze and Parties</td>
      <td><%=mail_to('samantha.ting@openlectures.org','Samantha Ting')%></td>
      <td></td>
  </tbody>
</table>
<div class="aligncenter">
<h2 class="marginbot0">Resources</h2>
<p>These items will assist your world domination. They're meant as starters, so feel free to build on them. Also, being the poor, miserly, misogynistic bastards we are, we actively exploit free online services and storage.</p>
</div><!--aligncenter-->
<div class="row-fluid">
  <div class="span4">
    <h3>Documents</h3>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="https://docs.google.com/open?id=1aIbgF7cnrc4W-IXvQeTvCF2DGR20V3dOq37mskE_xAv7FhCm3xPH-QxL95wB" target="_blank">
          <i class="icon-book"></i> Project Starter
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/spreadsheet/ccc?key=0Ah5izavBazoDdHpXc1hzSGNkZjRVMTZacDN0UzU2ekE" target="_blank">
          <i class="icon-file"></i> Lesson Template
        </a>
      </li>
    </ul>
  </div><!--span4-->
  <div class="span4">
    <h3>Services</h3>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="http://asia.login.secureserver.net" target="_blank">
          <i class="icon-envelope"></i> Email
        </a>
      </li>
      <li>
        <a href="http://asana.com" target="_blank">
          <i class="icon-tasks"></i> Asana
        </a>
      </li>
    </ul>
  </div><!--span4-->
  <div class="span4">
    <h3>Social Media</h3>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="http://facebook.com/openlectures" target="_blank">
          <i class="icon-facebook-sign"></i> Facebook
        </a>
      </li>
      <li>
        <a href="http://twitter.com/openlecturessg" target="_blank">
          <i class="icon-twitter-sign"></i> Twitter
        </a>
      </li>
      <li>
        <a href="http://youtube.com/openlecturessg">
          <i class="icon-youtube-sign"></i> YouTube
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-google-plus-sign"></i> Google+
        </a>
      </li>
      <li>
        <a href="http://github.com/jethrokuan/ol2" target="_blank">
          <i class="icon-github-sign"></i> Github
        </a>
      </li>
    </ul>
  </div><!--span4-->
</div><!--rowfluid-->
