<%title "Profile"%>

<%content_for :header do%>

<%end%>

<%content_for :slogan do%>
  <%=current_user.fullname%><br/>
  <%if current_user.role == "admin"%>
  <small><%=current_user.title%></small>
  <%else%>
  <small><%=current_user.school%></small>
  <%end%>
<%end%>

<%if current_user.role == "admin"%>
<div class="aligncenter">
<h2 class="marginbot0">Registry</h2>
<p>A quick list of the people you will spam, beg and murder in the course of your servitude.</p>
</div><!--aligncenter-->
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Function</th>
      <th>Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><i class="icon-smiley"></i> Everything</td>
    </tr>
    <tr>
      <td><i class="icon-tasks"></i> Academics</td>
    </tr>
    <tr>
      <td><i class="icon-link"></i> Outreach</td>
    </tr>
    <tr>
      <td><i class="icon-design"></i> Design</td>
    </tr>
    <tr>
      <td><i class="icon-linux"></i> Technology</td>
    </tr>
    <tr>
      <td><i class="icon-globe"></i> Publicity</td>
    </tr>
    <tr>
      <td><i class="icon-people"></i> People</td>
    </tr>
    <tr>
      <td><i class="icon-coffee"></i> Money</td>
      <td><%=mail_to('zexuan.ong@openlectures.org','Ong Ze Xuan')%></td>
      <td></td>
    </tr>
    <tr>
      <td><i class="icon-gift"></i> A Lot of Money</td>
      <td><%=mail_to('linan.qiu@openlectures.org','Linan Qiu')%></td>
      <td></td>
    </tr>
    <tr>
      <td><i class="icon-glass"></i> Booze and Parties</td>
      <td><%=mail_to('samantha.ting@openlectures.org','Samantha Ting')%></td>
      <td></td>
  </tbody>
</table>
<div class="aligncenter">
<h2 class="marginbot0">Resources</h2>
<p>These items will assist your world domination. They're meant as starters, so feel free to build on them. Also, being the poor, miserly, misogynistic bastards we are, we actively exploit free online services and storage.</p>
</div><!--aligncenter-->
<div class="row-fluid">
  <div class="span4">
    <h3>Documents</h3>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="https://docs.google.com/open?id=1aIbgF7cnrc4W-IXvQeTvCF2DGR20V3dOq37mskE_xAv7FhCm3xPH-QxL95wB" target="_blank">
          <i class="icon-book"></i> Project Starter
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/spreadsheet/ccc?key=0Ah5izavBazoDdHpXc1hzSGNkZjRVMTZacDN0UzU2ekE" target="_blank">
          <i class="icon-file"></i> Lesson Template
        </a>
      </li>
    </ul>
  </div><!--span4-->
  <div class="span4">
    <h3>Services</h3>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="http://asia.login.secureserver.net" target="_blank">
          <i class="icon-envelope"></i> Email
        </a>
      </li>
      <li>
        <a href="http://asana.com" target="_blank">
          <i class="icon-tasks"></i> Asana
        </a>
      </li>
    </ul>
  </div><!--span4-->
  <div class="span4">
    <h3>Social Media</h3>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="http://facebook.com/openlectures" target="_blank">
          <i class="icon-facebook-sign"></i> Facebook
        </a>
      </li>
      <li>
        <a href="http://twitter.com/openlecturessg" target="_blank">
          <i class="icon-twitter-sign"></i> Twitter
        </a>
      </li>
      <li>
        <a href="http://youtube.com/openlecturessg">
          <i class="icon-youtube-sign"></i> YouTube
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-google-plus-sign"></i> Google+
        </a>
      </li>
      <li>
        <a href="http://github.com/jethrokuan/ol2" target="_blank">
          <i class="icon-github-sign"></i> Github
        </a>
      </li>
    </ul>
  </div><!--span4-->
</div><!--rowfluid-->
<%end%>
