<%title "Staff"%>

<h1>Staff Database</h1>
<hr>
<div id="staff-list">
<input type="search" class="search input-block-level" placeholder="Filter List">
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th><a href="#" data-sort="name">Name</a></th>
      <th><a href="#" data-sort="email">Email Address</a></th>
      <th><a href="#" data-sort="phone">Phone Number</a></th>
      <th><a href="#" data-sort="location">Location</a></th>
    </tr>
  </thead>
  <tbody class="list">
  <%@staff.each do |s|%>
    <tr>
      <td class="name"><%=s.fullname%></td>
      <td class="email"><%=mail_to(s.email, nil, :encode => "javascript") %></td>
      <td class="phone"><a href="callto:<%=s.phone%>"><%=s.phone%></a></td>
      <td class="location"></td>
    </tr>
  <%end%>
  </tbody>
</table>

<%content_for :javascripts do%>
<%=javascript_include_tag "list.min"%>
<script>
var options = {
    valueNames: [ 'name', 'email', 'phone', 'location' ]
};

var staffList = new List('staff-list', options);
</script>
<%end%>