<%= simple_form_for(@summary) do |f| %>
  <% if @summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@summary.errors.count, "error") %> prohibited this summary from being saved:</h2>

      <ul>
      <% @summary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.association :lesson, label_method: :lesson, placeholder: "Lesson", input_html: {class: "input-block-level el"}, label: false%>
  <%= f.text_field :summary, placeholder: "Summary", class: "input-block-level" %>
  <%= f.submit "Save", id: "submit", class: "btn btn-block"%>
<% end %>

<%-content_for :javascripts do%>
  <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $(".el").select2();
      });
  </script>
<%-end%>
