<%title "Topics"%>
<h1>Topics</h1>
<hr>
<div id="topic-list">
<input type="search" class="search input-block-level" placeholder="Filter List">
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th><a href="#" data-sort="title">Topic</a></th>
      <th><a href="#" data-sort="subject">Subject</a></th>
      <th>Description</th>
      <th>Functions</th>
    </tr>
  </thead>
  <tbody>
  <%@topics.each do |topic| %>
    <tr>
      <td class="title"><%= link_to(topic.topic,topic) %></td>
      <td class="subject"><%= topic.subject.subject %></td>
      <td><small><%= topic.description %></small></td>
      <td>
        <div class="btn-group">
          <%=link_to("Edit",edit_topic_path(topic), class: "btn btn-mini")%>
          <%=link_to("Delete",topic, method: :delete, class: "btn btn-mini btn-danger")%>
        </div>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<%content_for :javascripts do%>
<script>
var options = {
    valueNames: ['title','subject']
};

var topicList = new List('topic-list', options);
</script>
<%end%>
