<%title @topic.topic%>
<%content_for :slogan do%>
<%=@topic.topic%>
<%end%>
<small>
  <%=render 'shared/breadcrumb'%>
</small>
<div class="row-fluid">
<div class="span4 hero-unit pad-reset" style="font-weight:normal;">
  <div class="align-center muted">
    <small>LESSON</small>
  </div><!--aligncenter-->
  <ul class="nav nav-list margintop0 marginbot-p">
  <%@topic.lessons.each_with_index do |lesson,k|%>
    <%if lesson.checkpoints.count != 0%>
      <%if lesson.checkpoints.first.videourl != "http://youtu.be/dummyvar10"%>
      <li <%='class=active' if k==0%>>
        <%=link_to truncate(lesson.lesson),'#'+lesson.slug,:class=>'muted',:'data-toggle'=>'tab'%>
      </li>
      <%end%>
    <%end%>
  <%end%>
  </ul><!--navtabs-->
</div><!--span4-->
<div class="span8">
  <div class="tab-content padtop0">
    <%@topic.lessons.each_with_index do |lesson,i|%>
      <%if lesson.checkpoints.count != 0%>
      <div class="tab-pane<%=' active' if i==0%>" id="<%=lesson.slug%>">
      <div class="row-fluid">
      <div class="span1 hero-unit pad-reset" style="font-weight:normal;">
        <div class="align-center muted">
          <small>NO.</small>
        </div><!--aligncenter-->
        <ul class="nav nav-list align-center margintop0 marginbot-p">
        <%lesson.checkpoints.order(:position).each_with_index do |checkpoint,j|%>
          <%if checkpoint.videourl != "http://youtu.be/dummyvar10"%>
          <li <%='class=active' if j==0%>>
            <%=link_to checkpoint.position, '#'+checkpoint.slug,:class=>'muted',:'data-toggle'=>'tab'%>
          </li>
          <%end%>
        <%end%>
        </ul><!--navtabs-->
      </div><!--span1-->
      <div class="span11 hero-unit pad-reset" style="font-weight:normal">
        <div class="align-center muted">
          <small>DETAILS</small>
        </div><!--aligncenter-->
        <div class="tab-content pad-reset">
          <%lesson.checkpoints.order(:position).each_with_index do |checkpoint,m|%>
            <div class="margintop0 tab-pane<%=' active' if m==0%>" id="<%=checkpoint.slug%>">
              <%if checkpoint.videourl=="http://youtu.be/dummyvar10"%>
                Coming Soon!
              <%else%>
                <%=link_to image_tag(checkpoint.thumb_url),lesson_path(lesson)+'#/'+(checkpoint.position-1).to_s%>
                <%end%>
              <div style="padding: 0 1em;">
              <h3 class="marginbot0">
                <%=link_to checkpoint.checkpoint, lesson_path(lesson)+'#/'+(checkpoint.position-1).to_s%>
              </h3>
              <p style="font-size:.85em; line-height:1.5;"><%=checkpoint.description%></p>
              </div><!--padding-->
              <ul class="action-link nav nav-list align-center" style="font-size:1.3em;">
              <li><%=link_to '<i class="icon-angle-down"></i> Start Lesson <i class="icon-angle-down"></i>'.html_safe,lesson_path(lesson)+'#/'+(checkpoint.position-1).to_s%></li>
              </ul><!--nav-->
            </div><!--tabpane-->
          <%end%>
        </div><!--tabcontent-->
      </div><!--span10-->
      </div><!--rowfluid-->
      </div><!--tabpane-->
      <%end%>
    <%end%>
  </div><!--tabcontent-->
</div><!--span8-->
</div><!--rowfluid-->
