<%title @topic.topic%>
<%content_for :header do%>
<%end%>
<%content_for :slogan do%>
<%=link_to @topic.subject.subject, @topic.subject%><br/>
<span class="lead"><%=@topic.topic%></span>
<%end%>
<%if @topic.description != ""%>
  <%content_for :description do%>
  <%=@topic.description%>
  <%end%>
<%end%>
<ul class="breadcrumb">
  <li><a href="#"><%=@topic.subject.subject%></a> <span class="divider">/</span></li>
  <li><a href="#"><%=@topic.topic%></a> <span class="divider">/</span></li>
</ul>
<%@topic.lessons.each do |lesson|%>
  <%if lesson.checkpoints.count == 0%>
    <h3 class="margintop0 marginbot0"><%=lesson.lesson%> - Coming Soon!</h3>
  <%else%>
    <h3 class="margintop0 marginbot0"><%=link_to lesson.lesson, lesson_path(lesson)%> - <%=lesson.checkpoints.count%> Checkpoints</h3>
  <%end%>
<%end%>
