<ul class="breadcrumb">
  <li><a href="<%=root_path%>"><i class="icon-home"></i></a></li>
  <li> <span class="divider">/</span> <%=link_to 'Subjects', subjects_path%></li>
  <% if controller.controller_name == 'topics'%>
  <li> <span class="divider">/</span> <%=link_to @topic.subject.subject, subject_path(@topic.subject.subject.parameterize)%></li>
  <%end%>
  <% if controller.controller_name == 'lessons'%>
  <li> <span class="divider">/</span> <%=link_to @lesson.subject.subject, subject_path(@lesson.subject.subject.parameterize)%></li>
  <li> <span class="divider">/</span> <%=link_to truncate(@lesson.topic.topic,:length=>25), topic_path(@lesson.topic.topic.parameterize)%></li>
  <%end%>
</ul>
