<%=form_tag search_path, method: :get do%>
<%=search_field_tag :query, params[:query], class: "input-block-level marginbot-p", id: "Search", style: "font-size:0.7em;", placeholder: "Search Lectures"%>
<%=submit_tag nil, class: "hidden"%>
<%end%>
<li role="menuitem"><a href="<%=root_path%>"><i class="icon-home"></i> Home</a></li>
<li role="menuitem"><%=link_to('<i class="icon-sitemap"></i> Subjects'.html_safe,subjects_path)%></li>
<li role="menuitem"><%=link_to('<i class="icon-info-sign"></i> About OL'.html_safe,team_path)%></li>
<li role="menuitem"><%=link_to('<i class="icon-globe"></i> Opportunities'.html_safe, opportunities_path)%></li>
<li role="menuitem"><%=link_to('<i class="icon-group"></i> Partners'.html_safe, partners_path)%></li>
<li role="menuitem"><%=link_to('<i class="icon-envelope-alt"></i> Contact Us'.html_safe, contact_path)%></li>
<% if user_signed_in? %>
<li role="menuitem"><%=link_to('<i class="icon-dashboard"></i> Manage'.html_safe,staff_path)%></li>
<li role="menuitem"><%=link_to('<i class="icon-plus-sign"></i> Create'.html_safe,create_item_path)%></li>
<li role="menuitem"><%=link_to('<i class="icon-refresh"></i> Update'.html_safe, update_path)%></li>
<li role="menuitem"><%= link_to('<i class="icon-signout"></i> Log Out'.html_safe,destroy_user_session_path,:method=>:delete)%></li>
<% end %>
