<li><%=link_to('<i class="icon-manage-subjects"></i> Manage Subjects'.html_safe, manage_path)%></li>
<li><%=link_to('<i class="icon-user"></i> Manage Users'.html_safe, manage_users_path)%></li>
<li><%=link_to('<i class="icon-database"></i> Staff Database'.html_safe, staff_path)%></li>
<li class="divider">
<li><%=link_to('<i class="icon-subject-add"></i> Add Subject'.html_safe, new_subject_path)%></li>
<li><%=link_to('<i class="icon-topic-add"></i> Add Topic'.html_safe, new_topic_path)%></li>
<li><%=link_to('<i class="icon-lesson-add"></i> Add Lesson'.html_safe, new_lesson_path)%></li>
<li><%=link_to('<i class="icon-checkpoint-add"></i> Add Checkpoint'.html_safe, new_checkpoint_path)%></li>