<li><%=link_to('Manage Subjects', manage_path)%></li>
<li><%=link_to('Manage Users', manage_users_path)%></li>
<li><%=link_to('Staff Database', staff_path)%></li>
<hr>
<li><%=link_to "Add Subject", new_subject_path%></li>
<li><%=link_to "Add Topic", new_topic_path%></li>
<li><%=link_to "Add Lesson", new_lesson_path%></li>
<li><%=link_to "Add Checkpoint", new_checkpoint_path%></li>
