<li><%=link_to('<i class="icon-wrench"></i> Manage Subjects'.html_safe, manage_path)%></li>
<li><%=link_to('<i class="icon-user"></i> Manage Users'.html_safe, manage_users_path)%></li>
<li><%=link_to('<i class="icon-table"></i> Staff Database'.html_safe, staff_path)%></li>
<hr>
<li><%=link_to('<i class="icon-plus"></i>Add Subject'.html_safe, new_subject_path)%></li>
<li><%=link_to('<i class="icon-plus"></i>Add Topic'.html_safe, new_topic_path)%></li>
<li><%=link_to('<i class="icon-plus"></i>Add Lesson'.html_safe, new_lesson_path)%></li>
<li><%=link_to('<i class="icon-plus"></i>Add Checkpoint'.html_safe, new_checkpoint_path)%></li>
<li><%=link_to('<i class="icon-plus"></i>Add Question'.html_safe, new_questionanswer_path)%></li>