<li class="<%= current_page?(team_path) ? "active" : "" %>">
  <%=link_to('The Team', team_path)%>
</li>
<li class="<%= current_page?(opportunities_path) ? "active" : "" %>">
  <%=link_to('Opportunities', opportunities_path)%>
</li>
<li class="<%= current_page?(partners_path) ? "active" : "" %>">
  <%=link_to('Partners', partners_path)%>
</li>
<li class="<%= current_page?(presskit_path) ? "active" : "" %>">
  <%=link_to('Press Kit', presskit_path)%>
</li>
<li class="<%= current_page?(contact_path) ? "active" : "" %>">
  <%=link_to('Contact Us', contact_path)%>
</li>
