<li><%=link_to('Home'.upcase, root_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('Subjects'.upcase,subjects_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('About Us'.upcase, team_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('Opportunities'.upcase, opportunities_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('Partners'.upcase, partners_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('Contact Us'.upcase, contact_path, :class => "fuckinglightgray")%></li>
