<li><%=link_to('HOME', root_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('SUBJECTS',subjects_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('THE TEAM', team_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('OPPORTUNITIES', opportunities_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('PARTNERS', partners_path, :class => "fuckinglightgray")%></li>
<li><%=link_to('CONTACT US', contact_path, :class => "fuckinglightgray")%></li>
