<li role="menuitem"><%=link_to('Home'.upcase, root_path, :class => "fuckinglightgray")%></li>
<li role="menuitem"><%=link_to('Subjects'.upcase,subjects_path, :class => "fuckinglightgray")%></li>
<li role="menuitem"><%=link_to('About OL'.upcase, team_path, :class => "fuckinglightgray")%></li>
<li role="menuitem"><%=link_to('Opportunities'.upcase, opportunities_path, :class => "fuckinglightgray")%></li>
<li role="menuitem"><%=link_to('Partners'.upcase, partners_path, :class => "fuckinglightgray")%></li>
<li role="menuitem"><%=link_to('Contact Us'.upcase, contact_path, :class => "fuckinglightgray")%></li>
