<% if user_signed_in? %>
  <% if current_user.role = "admin" || current_user.role = "lecturer"%>
    <li><%=link_to('<i class="icon-inbox"></i> '.html_safe + current_user.fullname, profile_path)%></li>
  <%else%>
    <li><%=link_to('<i class="icon-inbox"></i> '.html_safe + current_user.fullname, "#")%></li>
  <%end%>
<% else %>
  <li><a href="#" class="hidden-phone" rel="popover" data-placement="right" data-trigger="click" data-html="true" data-content="<%=render :text => render('shared/login')%>" title="Continue Your Adventure!"><i class="icon-login"></i> Log In</a></li>
  <li><%=link_to('<i class="icon-play-circle"></i> Get Started'.html_safe, new_user_registration_path)%></li>
<% end %>
<% if controller.controller_name != 'pages'%>
  <li><%=link_to('<i class="icon-home"></i> About Us'.html_safe, team_path)%></li>
<%end%>
<% if controller.controller_name != 'subjects'%>
  <li><%=link_to('<i class="icon-subjects"></i> Subjects'.html_safe,subjects_path)%></li>
<%end%>
