<% if user_signed_in? %>
  <% if current_user.role = "admin" || current_user.role = "lecturer"%>
    <li><%=link_to('<i class="icon-vcard"></i>'.html_safe + current_user.fullname, profile_path)%></li>
  <%else%>
    <li><%=link_to('<i class="icon-vcard"></i>'.html_safe + current_user.fullname, "#")%></li>
  <%end%>
<% else %>
  <li><%=link_to('<i class="icon-login"></i> Log In'.html_safe, new_user_session_path)%>
  <li><%=link_to('Get Started', new_user_registration_path)%></li>
<% end %>
<% if controller.controller_name != 'pages'%>
  <li><%=link_to('About Us', team_path)%></li>
<%end%>
<% if controller.controller_name != 'subjects'%>
  <li><%=link_to('Subjects',subjects_path)%></li>
<%end%>
