<%- title "Contact Us" %>
<div class="vcard" itemscope itemtype="http://data-vocabulary.org/Organization">
<%content_for :header do%>
  <%=image_tag 'tesseract.png'%>
<%end%>

<%content_for :slogan do%>
    The Tesseract Headquarters<br/>
    <span class="fn org hidden" itemprop="name">openlectures</span>
    <span class="adr" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
      <a href="http://en.wikipedia.org/wiki/The_Hitchhiker's_Guide_to_the_Galaxy" class="locality salmon" target="_blank" itemprop="locality">ZZ9 Plural Z Alpha</a>
    </span><br/>
    <small class="geo">
      <span class="latitutde">
        <span class="value-title" title="1.3667"></span>
      </span>
      1.3667° N,
      <span class="longitude">
        <span class="value-title" title="103.7500"></span>
      </span>
      103.7500° E
    </small>
<%end%>
<div class="row-fluid">
<div class="span7">
<p>We're here to help with any questions or comments. If you just want to say hi, or pet a monkey, that's cool too!</p>
<p>Feel free to email us at <%= mail_to("hello@openlectures.org", nil, :encode => "javascript") %></p>
<p>For press and corporate enquires, drop Samantha a note at <%= mail_to("samantha.ting@openlectures.org", nil, :encode => "javascript") %></p>
<p>And if you're shy but still hanging around, look for us on Twitter at <%=link_to '@openlecturessg', 'http://twitter.com/openlecturessg'%></p>
<small><%=link_to 'Prefer to use a form?',''%></small>
</div><!--span7-->
<div class="span4 offset1 align-center margintop-h2">
</div><!--span4-->
</div><!--rowfluid-->
