<%- title "Welcome" %>
<%content_for :header do%>
  <%=image_tag 'logo.png'%>
<%end%>
<%=form_tag search_path, method: :get do%>
<%=search_field_tag :query, params[:query], class: "input-block-level marginbot-p", id: "Search", style: "font-size:0.7em;", placeholder: "Search Lectures", height: "20px"%>
<%=submit_tag nil, class: "hidden"%>
<%end%>
  
<h3 class="lead align-center margintop-p"><%=Checkpoint.all.count%> <span class="olgreen">bite-sized</span> lectures in</h3>
<div class="row-fluid">
  <div class="span3 align-center">
    <%=link_to(@subjects[0]) do%>
    <%=image_tag 'economics-small.png'%>
    <h5>Economics</h5>
    <%end%>
  </div><!--span3-->
  <div class="span3 align-center">
    <%=link_to(@subjects[4]) do%>
    <%=image_tag 'physics.png', width: "150px"%>
    <h5>Physics</h5>
    <%end%>
  </div><!--span3-->
  <div class="span3 align-center">
    <%=link_to(@subjects[6]) do%>
    <%=image_tag 'mathematics-small.png'%>
    <h5>Mathematics</h5>
    <%end%>
  </div><!--span3-->
  <div class="span3 align-center">
    <%=link_to(subjects_path) do%>
    <%=image_tag 'more.png'%>
    <h5>and more...</h5>
    <%end%>
  </div><!--span3-->
</div><!--rowfluid-->
