<%- title "Opportunities" %>

<%content_for :header do%>
	<%=image_tag 'pirate.png'%>
<%end%>

<%content_for :slogan do%>
  We can't pay you, but we'll give you<br/>
  <span class="salmon">the experience of a lifetime</span>
<%end%>

<%content_for :description do%>
  It's never about what you have to do. When you join us, we ask you <span class="olgreen">what you feel you can do for us</span>. Lecturing's just one small part of the equation. You can help us spread the word, or make our content look good. What are you waiting for?
<%end%>
<p>We're looking for the crazy, the masochistic, and the passionate. The kind who do something over and over until it can't get any better. The kind who don't take "no" for an answer. The kind who make the impossible happen. Find out what it's like to work with us.</p>
<p>Got an opportunity to offer us instead? <%= mail_to("hello@openlectures.org", 'Drop us a note', :encode => "javascript") %>, and we'll reply pronto.</p>
<div id="controls" style="margin:0 20px; bottom: 0px; right:0px; position:fixed;">
  <a href="#" id="expand" class="gray"><i class="icon-plus"></i></a>
  <a href="#" id="keep" class="salmon"><i class="icon-minus"></i></a>
</div>
<div class="accordion" role="tab">
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#content">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Content Creation</h5>
      </a>
    </div><!--accordionheading-->
    <div id="content" class="accordion-body collapse">
      <div class="accordion-inner">
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#admin">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Administration</h5>
      </a>
    </div><!--accordionheading-->
    <div id="admin" class="accordion-body collapse">
      <div class="accordion-inner">
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#tech">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Tech Development</h5>
      </a>
    </div><!--accordionheading-->
    <div id="tech" class="accordion-body collapse">
      <div class="accordion-inner">
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
  <div class="accordion-group marginbot-p" role="tabpanel">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"  href="#outreach">
        <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i>Outreach</h5>
      </a>
    </div><!--accordionheading-->
    <div id="outreach" class="accordion-body collapse">
      <div class="accordion-inner">
      </div><!--accordioninner-->
    </div><!--accordionbody-->
  </div><!--accordiongroup-->
</div><!--accordion-->
<p>Not what you're looking for? <%= mail_to("hello@openlectures.org", "Let's talk!", :encode => "javascript") %>. We'll work things out for you.</p>
<h3 class="marginbot0">Paradise</h3>
<p>Every weekend at openlectures is full of surprises. It's a large happy family who'll willingly try a thousand things to get one lecture done right. <span class="salmon">When you join us, you join our family.</span></p>
<div class="row-fluid">
<div class="span4">
  <div class="align-center margintop-h3 marginbot-h3">
    <%=image_tag 'work.png'%>
  </div><!--aligncenter-->
<p><span class="olgreen">We've got issues with locking people in a room.</span> Work from home, at Starbucks, or in our comfortable bean-bag caves. Some people even roost on the ole' Porcelain Throne for the inspiration it provides.</p>
</div><!--span4-->
<div class="span4">
  <div class="align-center margintop-h3 marginbot-h3">
    <%=image_tag 'levitation.png'%>
  </div><!--aligncenter-->
<p><span class="olgreen">We respect your judgment.</span> Need a break? It's yours. If it takes you a trip to Paris to get things done, we'll wait. For senior employees, we even dispatch a minion to the airport to do the hand-waving up close and personal.</p>
</div><!--span4-->
<div class="span4">
  <div class="align-center margintop-h3 marginbot-h3">
    <%=image_tag 'butler.png'%>
  </div><!--aligncenter-->
<p><span class="olgreen">Don't sweat the small stuff.</span> If you need equipment, we've got you covered. RAM upgrades, foot stools, relationship advice, and your personal butler.
  <br/>
  <br/>
  (Ok, maybe not the last one).</p>
</div><!--span4-->
</div><!--rowfluid-->
<div class="align-center">
  <%=image_tag 'food.png', :class=>'margintop-h2 marginbot-h2'%>
<h2 class="margin-reset">In short, we provide</h2>
<h2 class="margin-reset"><span class="olgreen">food and water</span>, <span class="salmon">safety and security</span></h2>
<p class="margin-reset"><small>and kind of nothing else other than that. But you want in, don't you?</small></p>
</div>
