<%- title "Partners" %>
<%content_for :header do%>
  <%=image_tag 'globe.png'%>
<%end%>
<%content_for :slogan do%>
  We bring education to everyone.<br/>
  <span class="salmon">Help us achieve this dream.</span>
<%end%>
<%content_for :description do%>
  openlectures works with leading organizations to keep education free and accessible. If there's a place for us in your organization's <abbr class="initialism" title="Corporate Social Responsibility">CSR</abbr> programme, or you'd just like to help, <%= mail_to("hello@openlectures.org", "we'd love to hear from you!", :encode => "javascript") %>
<%end%>
<h3 class="marginbot0">Partner Organizations</h3>
<p>Organizations whose contributions have been crucial to the development and continued sustainability of the openlectures effort.</p>
<small>If you can offer us product sponsorship, a filming venue, or assistance in kind, <%= mail_to("hello@openlectures.org", "drop us a note!", :encode => "javascript") %></small>
<div class="row-fluid">
<div class="span6">
<dl class="dl-horizontal">
  <dt>2011</dt>
  <dd><%=link_to 'Singapore EDB', 'http://www.edb.gov.sg/content/edb/en.html?cmpid=edb_en38',:target=>'_blank'%></dd>
  <dt>2011</dt>
  <dd><%=link_to 'Northeast CDC', 'http://www.northeastcdc.org.sg/',:target=>'_blank'%></dd>
  <dt>2011</dt>
  <dd><%=link_to 'National Youth Council', 'http://www.nyc.pa.gov.sg/',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'REActor Singapore', 'http://www.nyc.pa.gov.sg/',:target=>'_blank'%></dd>
  <dt>2013</dt>
  <dd><%=link_to '*Scape', 'http://www.scape.com.sg/',:target=>'_blank'%></dd>
  <dt>2013</dt>
  <dd><%=link_to 'Mediacorp', 'http://www.mediacorp.sg/',:target=>'_blank'%></dd>
</dl>
</div><!--span6-->
<div class="span5 offset1 margintop-h2 align-center">
  <%=image_tag 'organization.png'%>
</div><!--span5-->
</div><!--rowfluid-->
<h3 class="marginbot0">Schools Reached</h3>
<p>Our team visits schools and institutions at request, delivering a wide range of <%=link_to 'outreach programmes', ''%> to thousands. We believe that everything we've done will only be useful if people actually know about it.</p>
<small>If you'd like us to drop by, <%= mail_to("hello@openlectures.org", "give us a holler", :encode => "javascript") %> and we'll fix something up!</small>
<div class="row-fluid">
<div class="span6">
<dl class="dl-horizontal">
  <dt>2012</dt>
  <dd><%=link_to 'Raffles Institution','http://www.ri.edu.sg/',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'Raffles Girls School','http://www.rgs.edu.sg/newsite/',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'NUS High School','http://www.nushigh.edu.sg/',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'Hwa Chong Institution','http://www.hwachong.edu.sg/',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'Meridian Junior College','http://www.mjc.edu.sg/',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'Tampines Junior College','http://www.tpjc.moe.edu.sg/',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'Innova Junior College','http://www.innovajc.moe.edu.sg/',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'Tradeschool','http://tradeschool.coop/singapore/class',:target=>'_blank'%></dd>
  <dt>2012</dt>
  <dd><%=link_to 'Milenia Institute','http://www.millenniainstitute.moe.edu.sg/',:target=>'_blank'%></dd>
</dl>
</div><!--span6-->
<div class="span5 offset1 margintop-h3 align-center">
  <%=image_tag 'school.png'%>
</div><!--span5-->
