<%- title "About Us" %>
<%content_for :header do%>
  <%=image_tag 'exhibitionist.png'%>
<%end%>

<%content_for :slogan do%>
  We believe that education should be<br/>
  <span class="salmon">free and accessible</span>
<%end%>

<%content_for :description do%>
  openlectures provides <span class="olgreen">free online lectures</span> based on the Singapore syllabus. It was founded in 2011 by Linan Qiu, a student who strongly believed in making quality education available for anyone who wants to learn.
<%end%>

<p>Today, over a hundred staff and lecturers across the globe contribute their time and expertise to this effort. Everyone works for free, at nights, and on weekends, because we love what we do.</p>
<h2 class="marginbot0 align-center">No, really. Why are you doing this?</h2>
<div class="row-fluid">
<div class="span7">
<p>We're secretly plotting total world domination. Not.</p>
<p>Some students want to learn, but lack the resources to do so. Sometimes we're unlucky, sometimes it's a financial problem, and sometimes we're shy and afraid to ask simple questions. That shouldn't stop anyone.</p>
<p>Everyone in openlectures does what they do best, for no remuneration other than the joy of creating something you can use when you need help. It's our way of giving back to the community.</p>
</div><!--span7-->
<div class="span4 offset1  align-center">
  <%=image_tag 'night.png', :class=>'margintop-h3 marginbot-h3'%>
</div><!--span4-->
</div><!--rowfluid-->
<h2 class="marginbot0 align-center">The Monkeys</h2>
<div class="row-fluid">
<div class="span4 align-center">
  <%=image_tag 'monkey.png', :class=> 'margintop-h1 marginbot-h1'%>
</div><!--span4-->
<div class="span7 offset1">
<p>We're normal people. We're writers, cosplayers, singers and photographers. Some of us have lesser hair than others because we're enlistees. We've also all had a quarter-life crisis of some sort just making it through school.</p>
<p>We waste the day on Facebook (<%=link_to 'check us out!', 'http://facebook.com/openlectures'%>), Twitter and Tumblr. We watch anime and read manga (READ: Pikachus). Along the way we manage to take suggestive and compromising pictures of our founder. We're kids at heart, and we believe in having fun.</p>
<small><%=link_to 'Browse Staff Directory', ''%></small>
</div><!--span7-->
</div><!--rowfluid-->
<h2 class="marginbot0 align-center">Mission, Vision and Motto</h2>
<p>Every organization's supposed to have one of these things. Apparently there's a habit of using big words to say simple things. We disagree. So when we're asked, we simply say:</p>
<div class="align-center">
<%=image_tag 'rocket.png', :class=>'margintop-h3 marginbot-h3'%>
<h2 class="margin-reset">One day, we'll deliver a lecture on the moon</h2>
<p class="margin-reset"><small>NASA, you reading this?</small></p>
</div><!--aligncenter-->
