<div class="tab-pane fade" id="listcheckpoints">
  <div id="checkpoint-list">
    <input type="search" class="search span10 offset1 aligncenter marginbot-h3" placeholder="Filter List">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th><i class="icon-checkpoint"></i> Checkpoint</th>
          <th><i class="icon-lesson"></i> Lesson</th>
          <% if user_signed_in? %>
          <% if current_user.role = "admin"%>
          <th><i class="icon-calendar-date"></i> Date</th>
          <th class="alignright">Modify</th>
          <%end%>
          <%end%>
        </tr>
      </thead>
      <tbody class="list">
      <%@subject.checkpoints.each do |checkpoint|%>
      <tr>
        <td class="checkpoint"><%=link_to checkpoint.checkpoint, lesson_path(checkpoint.lesson)+"#/"+checkpoint.checkpoint.parameterize%></td>
        <td class="lesson"><%=checkpoint.lesson.lesson%></td>
        <% if user_signed_in? %>
        <% if current_user.role = "admin"%>
        <td class="date"><%=checkpoint.created_at.strftime("%d %b %y")%></td>
        <td class="alignright">
          <%=link_to('<i class="icon-edit"></i>'.html_safe, edit_checkpoint_path(checkpoint), class: "gray")%>
          <%=link_to('<i class="icon-trash"></i>'.html_safe, checkpoint_path(checkpoint), method: :delete, :confirm => "CONFIRM DELETE: 'Do or do not. There is no try.'",class: "salmon")%>
        </td>
        <%end%>
        <%end%>
      <%end%>
      </tbody>
    </table>
</div><!--tabpane-->
<%-content_for :javascripts do%>
<script>
var options = {
    valueNames: ['checkpoint', 'lesson', 'date']
};

var checkpointList = new List('checkpoint-list', options);
</script>
<%end%>
