<div class="tab-pane active fade in margintop0" id="seab" style="overflow-x:hidden" role="tabpanel">
  <p>In this mode, lectures are arranged according to the <a href="http://www.seab.gov.sg/aLevel/syllabus/schoolCandidates/2013_GCE_A.html" target="_blank">subject syllabus</a> provided by the Singapore Examinations and Assessment Board (<abbr class="initialism">SEAB</abbr>). This means it's likely to be close to something you'd see in school.</p>
  <div id="controls" style="margin:0 20px; bottom: 0px; right:0px; position:fixed;">
    <a href="#" id="expand" class="gray"><i class="icon-plus"></i></a>
    <a href="#" id="keep" class="salmon"><i class="icon-minus"></i></a>
  </div>
  <div class="accordion" id="syllabus" role="tab">
  <%@subject.seab_topics.order("position").each do |topic|%>
    <div class="accordion-group marginbot-p" role="tabpanel">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse"  href="#<%=topic.id%>">
          <h5 class="marginbot0 margintop0"><i class="icon-angle-right" style="margin-right:0.2em; line-height:0.45em;"></i> <%=topic.topic%></h5>
        </a>
      </div><!--accordionheading-->
      <div id="<%=topic.id%>" class="accordion-body collapse">
        <div class="accordion-inner">
            <p class="muted"><%=topic.description%></p>
            <%topic.seab_sub_topics.each do |sub_topic|%>
              <table class="table table-hover table-condensed marginbot-h2
              <% if user_signed_in? %>
                <% if sub_topic.topics.count !=0%>
                  sortable
                <%end%>
              <%end%>
  " data-update-url=<%=sort_topics_url%>>

              <caption><%=sub_topic.topic%></caption>
              <tbody class="rowgroup">
              	<%if sub_topic.topics.count == 0%>
              	<td class="align-center">Coming Soon</td>
	              <%else%>
                <%sub_topic.topics.order("position").each do |sub_topic| %>
                  <%=content_tag_for :tr, sub_topic do%>
                  <% if user_signed_in? %>
                    <td><span class="handle"><i class="icon-sort"></i></span></td>
                  <%end%>
                  <td style="min-width:400px" <%if sub_topic.lessons.count == 0%>class="muted"<%end%>>
                  <%if sub_topic.lessons.count !=0%>
                    <%=link_to sub_topic.topic, topic_path(sub_topic)%>
                  <%else%>
                    <%=sub_topic.topic%>
                  <%end%>
                  </td>
                  <td class="align-right">
                    <%if sub_topic.lessons.count !=0%>
                      <%=sub_topic.lessons.count%> <span class="hidden-phone">Lessons</span>
                   <%else%>
                     Coming Soon!
                    <%end%>
                  </td>
                  <% if user_signed_in? %>
                    <td class="align-right">
                      <%=link_to('<i class="icon-edit"></i>'.html_safe, edit_topic_path(sub_topic), :class => "gray")%>
                      <%=link_to('<i class="icon-trash"></i>'.html_safe, topic_path(sub_topic), :method => :delete, :confirm => "CONFIRM DELETE: 'Do or do not. There is no try.'", :class => "salmon")%>
                    </td>
                  <%end%>
                  <%end%>
                <%end%>
              </tbody>
              <%end%>
            </table>
            <%end%>
        </div><!--accordioninner-->
      </div><!--accordionbody-->
    </div><!--accordiongroup-->
  <%end%>
  </div><!--accordion-->
</div><!--tabpane-->

<%content_for :javascripts do%>
  <script>
    $(document).ready(function() {
      $('.sortable').sortable();
    });
    $('#expand').on("click",function() {
      $('.collapse').not(".in").collapse('show');
      return false;
    });
    $('#keep').on("click",function() {
      $('.collapse.in').collapse('hide');
      return false;
    });
  </script>
<%end%>
