<div class="tab-pane active fade in" id="seab">
  <div class="accordion" id="syllabus">
  <%@subject.seab_topics.each do |topic|%>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse"  href="#<%=topic.id%>">
          <h3 class="marginbot0 margintop0"><%=topic.topic%></h3>
        </a>
      </div><!--accordionheading-->
      <div id="<%=topic.id%>" class="accordion-body collapse">
        <div class="accordion-inner">
            <p class="muted" style="font-size:0.9em"><%=topic.description%></p>
            <%topic.seab_sub_topics.each do |sub_topic|%>
              <%if sub_topic.topics.count ==0%>
                <h3 class="muted"><%=sub_topic.topic%> - No Lectures Yet! Coming Soon!</h3><br />
              <%else%>
            <table class="table table-hover table-condensed sortable" data-update-url=<%=sort_topics_url%> style="margin-bottom:1.5em;">
              <caption class="alignleft"><%=sub_topic.topic%></caption>
              <tbody>
                <%sub_topic.topics.order("position").each do |sub_topic| %>
                  <%=content_tag_for :tr, sub_topic do%>
                  <% if user_signed_in? %>
                    <% if current_user.role = "admin" || current_user.role = "lecturer"%>
                      <td><span class="handle"><i class="icon-sort"></i></span></td>
                    <%end%>
                  <%end%>
                  <td style="width:400px;"><%=link_to sub_topic.topic, topic_path(sub_topic)%></td>
                  <td class="alignright">
                    <%=sub_topic.lessons.count%> Lessons
                  </td>
                  <% if user_signed_in? %>
                    <% if current_user.role = "admin" || current_user.role = "lecturer"%>
                      <td class="alignright">
                        <%=link_to('<i class="icon-pencil"></i>'.html_safe, edit_topic_path(topic), :class => "gray")%>
                        <%=link_to('<i class="icon-trash"></i>'.html_safe, topic_path(topic), :method => :delete, :confirm => "CONFIRM DELETE: 'Do or do not. There is no try.'", :class => "salmon")%>
                      </td>
                    <%end%>
                  <%end%>
              <%end%>
                <%end%>
              </tbody>
              <%end%>
            </table>
            <%end%>
        </div><!--accordioninner-->
      </div><!--accordionbody-->
    </div><!--accordiongroup-->
  <%end%>
  </div><!--accordion-->
</div><!--tabpane-->

<%if user_signed_in?%>
  <%if current_user.role = "admin" || current_user.role = "lecturer"%>
    <%content_for :javascripts do%>
      <%=javascript_include_tag "jquery-ui-1.9.1.custom.min"%>
      <%=javascript_include_tag "sortable.js"%>

      <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
          $('.sortable').sortable();
        });
      </script>
    <%end%>
  <%end%>
<%end%>
