<div class="tab-pane active fade in" id="seab">
  <a href="#" id="expand">Expand All</a>
  <a href="#" id="keep">Close All</a>
  <div class="accordion" id="syllabus">
  <%@subject.seab_topics.each do |topic|%>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse"  href="#<%=topic.id%>">
          <h3 class="marginbot0 margintop0"><i class="icon-caret-right" style="margin-right:0.2em; line-height:0.45em;"></i> <%=topic.topic%></h3>
        </a>
      </div><!--accordionheading-->
      <div id="<%=topic.id%>" class="accordion-body collapse">
        <div class="accordion-inner">
            <p class="muted" style="font-size:0.9em"><%=topic.description%></p>
            <%topic.seab_sub_topics.each do |sub_topic|%>
              <table class="table table-hover table-condensed
              <% if user_signed_in? %>
                <% if current_user.role = "admin" && sub_topic.topics.count !=0%>
                  sortable
                <%end%>
              <%end%>
  " data-update-url=<%=sort_topics_url%> style="margin-bottom:1.5em;">

              <caption class="alignleft"><%=sub_topic.topic%></caption>
              <tbody>
              	<%if sub_topic.topics.count ==0%>
              	<td class="aligncenter">Coming Soon</td>
	              <%else%>
                <%sub_topic.topics.order("position").each do |sub_topic| %>
                  <%=content_tag_for :tr, sub_topic do%>
                  <% if user_signed_in? %>
                    <% if current_user.role = "admin"%>
                      <td><span class="handle"><i class="icon-sort"></i></span></td>
                    <%end%>
                  <%end%>
                  <td style="width:400px;"><%=link_to sub_topic.topic, topic_path(sub_topic)%></td>
                  <td class="alignright">
                    <%=sub_topic.lessons.count%> Lessons
                  </td>
                  <% if user_signed_in? %>
                    <% if current_user.role = "admin"%>
                      <td class="alignright">
                        <%=link_to('<i class="icon-edit"></i>'.html_safe, edit_topic_path(sub_topic), :class => "gray")%>
                        <%=link_to('<i class="icon-trash"></i>'.html_safe, topic_path(sub_topic), :method => :delete, :confirm => "CONFIRM DELETE: 'Do or do not. There is no try.'", :class => "salmon")%>
                      </td>
                    <%end%>
                  <%end%>
              <%end%>
                <%end%>
              </tbody>
              <%end%>
            </table>
            <%end%>
        </div><!--accordioninner-->
      </div><!--accordionbody-->
    </div><!--accordiongroup-->
  <%end%>
  </div><!--accordion-->
</div><!--tabpane-->

<%if user_signed_in?%>
  <%if current_user.role = "admin"%>
    <%content_for :javascripts do%>
      <script>
        $(document).ready(function() {
          $('.sortable').sortable();
        });
        $('#expand').on("click",function() {
          $('.collapse').collapse('show');
        });
        $('#keep').on("click",function() {
          $('.keep').collapse('hide');
        });
      </script>
    <%end%>
  <%end%>
<%end%>
