<div class="tab-pane active fade in" id="seab">
  <%@subject.topics.each do |topic|%>
    <hr>
  <h3>SEAB_Topic.Topic
    <% if user_signed_in? %>
      <% if current_user.role = "admin" || current_user.role = "lecturer"%>
      <div class="btn-group pull-right">
      <%=link_to('<i class="icon-pencil"></i> Edit'.html_safe, edit_topic_path(topic), class: "btn")%>
      <%=link_to('<i class="icon-trash"></i>'.html_safe, topic_path(topic), method: :delete, :confirm => "CONFIRM DELETE: 'Do or do not. There is no try.'", class: "btn btn-danger")%>
    </div><!--btngroup-->
  <%end%>
  <%end%>
  </h3>
  <h6><small>SEAB_Topic.Description</small></h6>
  <p>SEAB_Topic.Subtopic</p>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <% if user_signed_in? %>
          <% if current_user.role = "admin" || current_user.role = "lecturer"%>
            <th></th>
          <%end%>
        <%end%>
        <th><i class="icon-lesson"></i> Lesson</th>
        <th><i class="icon-checkpoint"></i> Checkpoints</th>
        <% if user_signed_in? %>
          <% if current_user.role = "admin" || current_user.role = "lecturer"%>
            <th class="alignright">Modify</th>
          <%end%>
        <%end%>
      </tr>
    </thead>
    <tbody class="sortable" data-update-url="<%= sort_topics_url %>">
      <%@subject.topics.order("position").each do |topic|%>
        <%=content_tag_for :tr, topic do%>
        <% if user_signed_in? %>
          <% if current_user.role = "admin" || current_user.role = "lecturer"%>
            <td><span class="handle" style="cursor:ns-resize"><i class="icon-sort"></i></span></td>
          <%end%>
        <%end%>
        <td><%=link_to(topic.topic,)%></td>
        <td><%=topic.lessons.count%></td>
        <% if user_signed_in? %>
          <% if current_user.role = "admin" || current_user.role = "lecturer"%>
            <td>
            <div class="btn-group pull-right">
              <%=link_to('<i class="icon-pencil"></i> Edit'.html_safe, edit_topic_path(topic), class: "btn")%>
              <%=link_to('<i class="icon-trash"></i>'.html_safe, topic_path(topic), method: :delete, :confirm => "CONFIRM DELETE: 'Do or do not. There is no try.'",class: "btn btn-danger")%>
            </div><!--btngroup-->
          </td>
          <%end%>
        <%end%>
      <%end%>
    <%end%>
    </tbody>
  </table>
  <%end%>
  </div><!--tabpane-->
