<% title "Edit #{@subject.subject}"%>

<h1><%=@subject.subject%></h1>
<p class="lead"><%=@subject.checkpoints.count%> checkpoints in <%=@subject.lessons.count%> lessons</p>

<ul class="nav nav-pills" style="margin-bottom:5px;">
  <li class="active"><a href="#seab" data-toggle="tab">SEAB Syllabus</a></li>
  <li class="disabled"><a>Subway Map</a></li>
  <li><a href="#listcheckpoints" data-toggle="tab">All Checkpoints</a></li>
</ul>

<div class="tab-content">
  <%= render 'seab' %>
  <%= render 'listcheckpoints' %>
</div><!--tabcontent-->

<%-content_for  :javascripts do%>
  <%=javascript_include_tag "jquery-ui-1.9.1.custom.min"%>
  <%=javascript_include_tag "sortable.js"%>
  <script type="text/javascript" charset="utf-8">
    $('.sortable').sortable();
  </script>
<%-end%>
