<%title "Subjects"%>
<%content_for :slogan do%>
  Subjects<br/>
  <span class="lead"><span class="salmon"><%=Checkpoint.all.count%></span> checkpoints in <span class="salmon"><%=Lesson.all.count%></span> lessons</span>
<%end%>
<table class="table table-hover table-condensed">
  <thead role="rowgroup">
    <tr role="rowheader">
      <th>Subject</th>
      <th>Lessons</th>
      <th>Checkpoints</th>
      <% if user_signed_in? %>
          <th>Last Updated</th>
      <%end%>
    </tr>
  </thead>
  <tbody class="list" role="rowgroup">
  <%Subject.all.each do |subject|%>
    <tr role="row">
      <td class="subject"><%=link_to subject.subject, subject_path(subject)%></td>
      <td class="lessons"><%=subject.lessons.count%></td>
      <td class="checkpoints"><%=subject.checkpoints.count%></td>
      <% if user_signed_in? %>
      <td class="date">
        <%if subject.checkpoints.count != 0%>
          <%=subject.checkpoints.last.created_at.strftime("%d %b %y")%>
          <%=link_to "Update", import_subjects_path%>
        <%else%>
          N/A
        <%end%>
      </td>
      <%end%>
    </tr>
  <%end%>
  </tbody>
</table>
<% if user_signed_in? %>
  <%=link_to '<i class="icon-plus-sign"></i> Create'.html_safe, create_item_path, :class => "btn btn-block margintop-p"%>
<%end%>
