<%title "Subjects"%>
<h1>Subjects</h1>
<h3 class="lead"><%=Checkpoint.all.count%> checkpoints in <%=Lesson.all.count%> lessons</h3>
<hr>
<%= link_to "CSV", subjects_path(format: "csv") %> 
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th><i class="icon-subject"></i> Subject</th>
      <th><i class="icon-lesson"></i> Lessons</th>
      <th><i class="icon-checkpoint"></i> Checkpoints</th>
      <% if user_signed_in? %>
        <% if current_user.role = "admin"%>
          <th><i class="icon-calendar-date"></i> Last Updated</th>
        <%end%>
      <%end%>
    </tr>
  </thead>
  <tbody class="list">
  <%Subject.all.each do |subject|%>
    <tr>
      <td class="subject"><%=link_to subject.subject, subject_path(subject)%></td>
      <td class="lessons"><%=subject.lessons.count%></td>
      <td class="checkpoints"><%=subject.checkpoints.count%></td>
      <% if user_signed_in? %>
        <% if current_user.role = "admin"%>
        <td class="date">
          <%if subject.checkpoints.count != 0%>
            <%=subject.checkpoints.last.created_at.to_formatted_s(:short)%>
          <%else%>
            N/A
          <%end%>
        </td>
        <%end%>
      <%end%>

    </tr>
  <%end%>
  </tbody>

</table>
  <%= link_to "Update", import_subjects_path%>
