<%title @subject.subject%>
<%content_for :header do%>
  <%=image_tag 'economics.png'%>
<%end%>
<%content_for :slogan do%>
  <%=@subject.subject%><br/>
  <span class="lead"><span class="salmon"><%=@subject.checkpoints.count%></span> checkpoints in <span class="salmon"><%=@subject.lessons.count%></span> lessons</span>
<%end%>
<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-pills marginbot0 element-center" role="tablist">
      <li class="active"><a href="#seab" data-toggle="tab">GCE A-Level Syllabus</a></li>
      <li><a href="#subway" data-toggle="tab">Subway Map</a></li>
      <li><a href="#listcheckpoints" data-toggle="tab">All Checkpoints</a></li>
    </ul>
  </div>
</div>

<div class="tab-content" role="tab">
  <%= render 'seab' %>
  <%= render 'subway' %>
  <%= render 'listcheckpoints' %>
</div><!--tabcontent-->
<% if user_signed_in? %>
<%=link_to "<i class='icon-refresh'></i> Update".html_safe, import_subjects_path, :class => "btn btn-block margintop-p"%>
<%end%>
