<%title @subject.subject%>
<%content_for :slogan do%>
  <%=@subject.subject%><br/>
  <small><span class="salmon"><%=@subject.checkpoints.count%></span> checkpoints in <span class="salmon"><%=@subject.lessons.count%></span> lessons</small>
<%end%>
<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-pills marginbot0 element-center">
      <li class="active"><a href="#seab" data-toggle="tab">GCE A-Level Syllabus</a></li>
      <li class="disabled"><a>Subway Map</a></li>
      <li><a href="#listcheckpoints" data-toggle="tab">All Checkpoints</a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <%= render 'seab' %>
  <%= render 'listcheckpoints' %>
</div><!--tabcontent-->
