<%= simple_form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.association :topic, label_method: :topic, input_html: {class: "input-block-level el", placeholder: "Topic"}, label: false%>
  <%= f.association :user, label_method: :given_name, input_html: {class: "input-block-level el", placeholder: "User"}, label: false%>
  <%= f.text_field :lesson, class: "input-block-level", placeholder: "Lesson Name"%>
  <hr>
  <%= f.submit "Save", id: "submit", class: "btn btn-block"%>
<% end %>

  <%-content_for :javascripts do%>
    <script>
        $(document).ready(function() { $(".el").select2(); });
    </script>
  <%-end%>

