<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.text_field :lesson, class: "input-block-level", placeholder: "Lesson Name"%>
    <%= f.number_field :topic_id %>
    <%= f.check_box :is_sublesson %>
    <%= f.number_field :position %>
    <%= f.number_field :user_id %>
    <hr>
    <%= f.submit "Create", id: "submit", class: "btn btn-block"%>
<% end %>
