<%title "Search Results"%>
<%content_for :header do%>
  <%=image_tag 'subjects.png'%>
<%end%>
<%content_for :slogan do%>
  Search Results
<%end%>
<%if @lessons.count == 0%>
<%content_for :description do%>
Oh noes, it looks like we don't have what you're looking for :(Give it another go, or drop us a <%= mail_to("hello@openlectures.org", "note", :encode => "javascript") %>?
  <%end%>
<%end%>
<%=form_tag lessons_path, method: :get do%>
<%=search_field_tag :query, params[:query], class: "input-block-level marginbot-p align-center", id: "Search",placeholder: "Search Lectures"%>
<%=submit_tag nil, class: "hidden"%>
<%end%>
<%if @lessons.count != 0%>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Topic</th>
    </tr>
  </thead>
  <tbody class="lesson-list">
  <%@lessons.each do |lesson| %>
  <tr>
    <td class="lesson"><%=link_to(lesson.lesson,lesson)%></td>
    <td class="topic"><%= lesson.topic.topic %></td>
  </tr>
  <%end%>
  </tbody>
</table>
<%end%>
