<%title @lesson.lesson%>
  <%@lesson.checkpoints.each do |checkpoint|%>
  <section>
    <section>
      <div class="navbar-fixed-top">
    	<h3 class="line08">
        <%=link_to '<i class="icon-caret-up"></i><br/><small>Back to Topic Overview</small>'.html_safe, topic_path(checkpoint.lesson.topic)%>
      </h3>
    </div>
      <div class="row-fluid" style="margin-top:6em">
      	<div class="span1">
          <h3>
            <a href="#" class="navigate-left line10"><i class="icon-caret-left"></i><br/><small>Previous</small></a>
          </h3>
      	</div><!--span1-->
	      <div class="span3 alignright">
	        <h5 class="muted margintop0 marginbot0 line10">CHECKPOINT <%=checkpoint.position%></h5>
          <h2 class="margintop0 hidden-phone line10"><%=checkpoint.checkpoint.titlecase%></h2>
	      </div><!--span3-->
	      <div class="span7">
	        <div class="videoWrapper">
	          <iframe seamless src="<%=checkpoint.parsed_url%>" frameborder="0"></iframe>
	        </div><!--videoWrapper-->
	      </div><!--span7-->
	      <div class="span1">
      		<h3>
            <a href="#" class="navigate-right line10"><i class="icon-caret-right"></i><br/><small>Next</small></a>
          </h3>
	    	</div><!--span1-->
      </div><!--rowfluid-->
      <div class="navbar-fixed-bottom">
      <h3>
        <a href="#" class="navigate-down line10"><small>Question</small><br/><i class="icon-caret-down"></i></a>
      </h3>
      </div><!--fixedbottom-->
    </section>

  <%checkpoint.questionanswers.each do |qa|%>
    <section>
      <div class="navbar-fixed-top">
      <h3>
        <a href="#" class="navigate-up line08"><i class="icon-caret-up"></i><br/><small>Back to Lecture</small></a>
      </h3>
      </div><!--fixedtop-->
      <div class="row-fluid">
      	<div class="span1">
      		<h3><a href="#" class="navigate-left line10"><i class="icon-caret-left"></i><br><small>Previous</small></a><br/></h3>
      	</div><!--span1-->
        <div class="span3 alignright">
          <h5 class="muted margintop0 marginbot0 line10" style="line-height:1">QUESTION <%=checkpoint.position%></h5>
          <h2 class="margintop0 line10"><%=checkpoint.checkpoint%></h2>
          <p class="margintop0 line14"><%=qa.question%></p>
        </div><!--span3-->
        <div class="span6 offset1 alignleft">
          <p class="line14"><%=qa.answer%></p>
        </div><!--span6-->
        <div class="span1">
      		<h3 class="navigate-right line10"><a href="#"><i class="icon-caret-right"></i><br/><small>Next</small></a></h3>
	    	</div><!--span1-->
      </div><!--rowfluid-->
    </section>
  <%end%>
  </section>
<%end%>
