<%title @lesson.lesson%>
  <%@lesson.checkpoints.each do |checkpoint|%>
  <section>
    <section>
      <div class="row-fluid alignleft">
      <div class="span4">
        <ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
          <li><a href="#/">Back to Start</a></li>
        </ul>
        <h5 class="muted"><%=checkpoint.position%></h5>
        <h2><%=checkpoint.checkpoint%></h2>
        <hr>
        <p><%=checkpoint.description%></p>
        <div class="row-fluid margintop20p hidden-phone">
          <div class="span4">
            <ul class="nav nav-pills nav-stacked aligncenter">
              <li><a href="#" class="navigate-left">Back</a></li>
            </ul>
          </div><!--span4-->
          <div class="span4">
            <ul class="nav nav-pills nav-stacked aligncenter">
              <li><a href="#" class="navigate-down">Question</a></li>
            </ul>
          </div><!--span4-->
          <div class="span4">
            <ul class="nav nav-pills nav-stacked aligncenter">
              <li><a href="#" class="navigate-right">Next</a></li>
            </ul>
          </div><!--span4-->
        </div><!--row-->
      </div><!--span4-->
      <div class="span8">
        <div class="videoWrapper">
          <iframe seamless src=<%="http://www.youtube.com/embed/"+checkpoint.parsed_url+"?rel=0&amp;theme=light&amp;color=white&amp;autoplay=0&amp;showinfo=0&amp;autohide=3&amp;vq=hd1080"%> frameborder="0" allowfullscreen >
          </iframe>
        </div><!--videoWrapper-->
      </div><!--span8-->
      </div><!--row-->
    </section>

  <%checkpoint.questionanswers.each do |qa|%>
    <section class="alignleft">
      <div class="row-fluid">
        <div class="span4">
          <ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
            <li><a href="#" onclick="Reveal.navigateUp();return false">Back to Lecture</a></li>
          </ul>
          <h5 class="muted"><%=checkpoint.position.to_s + ": "+checkpoint.checkpoint%></h5>
          <h2>Question</h2>
          <hr>
          <p><%=qa.question%></p>
          <ul class="nav nav-pills nav-stacked aligncenter margintop20p">
            <li><a href="#" onclick="Reveal.navigateNext();return false">Next</a></li>
          </ul>
        </div><!--span4-->
        <div class="span7 offset1">
          <p class="lead"><%=qa.answer%></p>
        </div><!--span7-->
      </div><!--row-->
    </section>
  <%end%>
  </section>
<%end%>
