<%title @lesson.lesson%>
  <%@lesson.checkpoints.each do |checkpoint|%>
  <section>
    <section>
    	<h3 style="line-height:0.8; margin-bottom: 2em"><%=link_to '<i class="icon-arrow-up"></i><br/><small>Back to Topic Overview</small>'.html_safe, topic_path(checkpoint.lesson.topic)%></h3>
      <div class="row-fluid">
      	<div class="span1">
      		<h3 style="line-height:0.8;"><a href="#" class="navigate-left"><i class="icon-arrow-left"></i><br/><small>Previous</small></a></h3>
      	</div><!--span1-->
	      <div class="span3 alignright">
	        <h5 class="muted margintop0 marginbot0" style="line-height:1">CHECKPOINT <%=checkpoint.position%></h5>
	        <h2 class="margintop0" style="line-height:1"><%=checkpoint.checkpoint%></h2>
	        <p class="margintop0" ><%=checkpoint.description%></p>
	      </div><!--span3-->
	      <div class="span7">
	        <div class="videoWrapper">
	          <iframe seamless src="<%=checkpoint.parsed_url%>"></iframe>
	        </div><!--videoWrapper-->
	      </div><!--span7-->
	      <div class="span1">
      		<h3 style="line-height:0.8;"><a href="#" class="navigate-right"><i class="icon-arrow-right"></i><br/><small>Next</small></a></h3>
	    	</div><!--span1-->
      </div><!--rowfluid-->
      <h3 style="margin-top:1.5em;"><a href="#" class="navigate-down"><small>Question</small><br/><i class="icon-arrow-down"></i></a></h3>
    </section>

  <%checkpoint.questionanswers.each do |qa|%>
    <section>
      <h3 style="line-height:0.8;"><a href="#" class="navigate-up"><i class="icon-arrow-up"></i><br/><small>Back to Lecture</small></a></h3>
      <div class="row-fluid" style="margin-top:5em; margin-bottom:7em;">
      	<div class="span1">
      		<h3 style="line-height:0.8;"><a href="#" class="navigate-left"><i class="icon-arrow-left"></i><small>Previous</small></a><br/></h3>
      	</div><!--span1-->
        <div class="span3 alignright">
        	<h5 class="muted margintop0 marginbot0" style="line-height:1">QUESTION <%=checkpoint.position%></h5>
        	<h2 class="margintop0" style="line-height:1"><%=checkpoint.checkpoint%></h2>
          <p class="margintop0"><%=qa.question%></p>
        </div><!--span3-->
        <div class="span6 offset1 alignleft">
          <p><%=qa.answer%></p>
        </div><!--span6-->
        <div class="span1">
      		<h3 style="line-height:0.8;"><a href="#" class="navigate-right"><i class="icon-arrow-right"></i><br/><small>Next</small></a></h3>
	    	</div><!--span1-->
      </div><!--rowfluid-->
    </section>
  <%end%>
  </section>
<%end%>
<section>
  <section>
    <h1>anddd you're done!</h1>
    <h3><%=link_to 'Go back to the topic overview', topic_path(@lesson.topic)%></h3>
    <ul class="nav nav-pills nav-stacked aligncenter margintop20p">
            <li><a href="#" class="navigate-next">View Summary</a></li>
          </ul>
  </section>
  <section>
    <%@lesson.summaries.each do |l|%>
      <li><i class="icon-check"></i> <%=l.summary%></li>
    <%end%>
  </section>
</section>
