<%title @lesson.lesson%>
  <%@lesson.checkpoints.order("position").each do |checkpoint|%>
    <section id="<%=checkpoint.checkpoint.parameterize%>">
    <section>
    	<h3 class="line08">
        <%=link_to '<i class="icon-caret-up"></i>'.html_safe, topic_path(checkpoint.lesson.topic), :rel=>'tooltip', :title=>'BACK TO OVERVIEW', :data=>{:placement=>"bottom"}, :class=>"salmon"%>
      </h3>
      <div class="row-fluid" style="margin-top:3.5em">
      	<div class="span1">
          <h3>
            <a href="#" class="navigate-left" rel="tooltip" title="PREVIOUS CHECKPOINT" data-placement="right"><i class="icon-caret-left line-04"></i></a>
          </h3>
      	</div><!--span1-->
	      <div class="span3 align-right" style="margin-left:6%">
	        <h5 class="muted margintop0 marginbot0 line-10">CHECKPOINT <%=checkpoint.position%></h5>
          <h3 class="margintop0 line-10 balance-text"><%=checkpoint.checkpoint%></h3>
	        <p class="margintop0 line-14 balance-text"><%=checkpoint.description%></p>
          <div class="align-right">
          <p><a href="#" class="navigate-next">Next <i class="icon-angle-right"></i></a></p>
          </div><!--alignright-->
          <small>
          <p class="muted"><a href="#" class="muted mobile" role="button"><i class="icon-qrcode"></i> Send to Phone</a> | <a href="#" class="muted report_error" role="button"><i class="icon-exclamation-sign"></i> Report Error</a></p>
          </small>
	      </div><!--span3-->
	      <div class="span6">
	        <div class="videoWrapper">
	          <iframe id="player<%=checkpoint.position-1%>" seamless src="<%=checkpoint.parsed_url.html_safe%>" frameborder="0"></iframe>
	        </div><!--videoWrapper-->
	      </div><!--span6-->
	      <div class="span1">
      		<h3>
            <a href="#" class="navigate-right" rel="tooltip" title="NEXT CHECKPOINT" data-placement="left"><i class="icon-caret-right line-04"></i></a>
          </h3>
	    	</div><!--span1-->
      </div><!--rowfluid-->
      <h3>
        <a href="#" class="navigate-down line-10" rel="tooltip" title="QUESTION" data-placement="top"><i class="icon-caret-down"></i></a>
      </h3>
    </section>
    <section>
      <h3>
        <a href="#" class="navigate-up" rel="tooltip" title="BACK TO LECTURE" data-placement="bottom"><i class="icon-caret-up"></i></a>
      </h3>
      <div class="row-fluid" style="margin-top:6em">
      	<div class="span1">
      		<h3>
            <a href="#" class="navigate-left" rel="tooltip" title="PREVIOUS QUESTION" data-placement="right">
              <i class="icon-caret-left line-04"></i>
            </a>
          </h3>
      	</div><!--span1-->
        <div class="span3 align-right">
          <h5 class="muted margintop0 marginbot0 line-10" style="line-height:1">QUESTION <%=checkpoint.position%></h5>
          <h3 class="margintop0 line-10 balance-text"><%=checkpoint.checkpoint.titlecase%></h3>
          <p class="margintop0 line-14 balance-text"><%=checkpoint.question%></p>
          <div class="align-right">
          <p><a href="#" class="navigate-next">Next <i class="icon-angle-right"></i></a></p>
          </div><!--align-right-->
          <small>
          <p class="muted"><a href="#" class="muted mobile" role="button"><i class="icon-qrcode"></i> Send to Phone</a> | <a href="#" class="muted report_error" role="button"><i class="icon-exclamation-sign"></i> Report Error</a></p>
          </small>
        </div><!--span3-->
        <div class="span6 offset1 align-left">
          <p class="line-16"><%=checkpoint.answer%></p>
        </div><!--span6-->
        <div class="span1">
      		<h3>
            <a href="#" class="navigate-right" rel="tooltip" title="NEXT QUESTION" data-placement="left">
              <i class="icon-caret-right line-04"></i>
            </a>
          </h3>
	    	</div><!--span1-->
      </div><!--rowfluid-->
    </section>
  </section>
<%end%>
<section>
  <%=image_tag 'medal.png', :class=>'margintop-h1'%>
  <h3 class="marginbot0"><span class="salmon">anddd you're done!</span> Here's what we did in this lesson:</h3>
  <div class="row-fluid marginbot-h3">
    <div class="span8 offset2 align-left">
      <ul class="icons cmun">
        <%@lesson.checkpoints.order("position").each do |checkpoint|%>
          <li class="objective"><i class="icon-check-empty"></i> <%=checkpoint.objective%></li>
        <%end%>
      </ul><!--icons-->
    </div><!--span8-->
  </div><!--rowfluid-->
   <%=link_to '<i class="icon-arrow-up"></i> Back to Lesson Overview <i class="icon-arrow-up"></i> '.html_safe, topic_path(@lesson.topic)%>
</section>
