<%= simple_form_for(@seab_sub_topic) do |f| %>
  <% if @seab_sub_topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seab_sub_topic.errors.count, "error") %> prohibited this seab_sub_topic from being saved:</h2>

      <ul>
      <% @seab_sub_topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.association :seab_topic, label_method: :topic, input_html:{class: "input-block-level el", placeholder: "SEAB Topic"}, label: false%>
    <%= f.text_field :topic, class: "input-block-level", placeholder: "SEAB Subtopic" %>
    <%= f.submit "Save", id: "submit", class: "btn btn-block" %>
  <% end %>

<%-content_for :javascripts do%>
  <%=javascript_include_tag "select2"%>
    <script>
        $(document).ready(function() { $(".el").select2(); });
    </script>
  <%-end%>

<%-content_for :styles do%>
  <%=stylesheet_link_tag "select2"%>
<%-end%>
