<%=render 'shared/head'%>
<body>
  <div id="wrap">
    <div class="container-fluid">
      <div class="page-alert">
        <%= bootstrap_flash %>
        <!--[if lt IE 7]>
          <div class="alert">
          You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
          </div>
        <![endif]-->
      </div><!--page-alert-->
      <div class="row-fluid">
      <nav class="span3 dim">
        <%=render 'shared/logo'%>
        <ul id="navbar" class="nav nav-pills nav-stacked hidden-phone">
        <%=render 'shared/search'%>
        <%=render 'shared/start'%>
        <% if content_for?(:sidebar) %>
          <hr>
          <%=yield :sidebar %>
        <%end%>
        <% if controller.controller_name == 'pages'%>
          <hr>
          <%=render 'shared/pages'%>
        <%end%>
        <% if controller.controller_name == 'subjects'%>
          <hr>
          <%=render 'shared/navsubjects'%>
        <%end%>
        <% if user_signed_in? %>
          <hr>
          <%=render 'shared/navmanage'%>
        <%end%>
        <%=render 'shared/last'%>
        </ul>
      </nav><!--span3-->
      <div class="span7 offset1">
      <%=yield%>
      </div><!--span7-->
      </div><!--rowfluid-->
    </div><!--containerfluid-->
    <div id="push"></div>
  </div><!--wrap-->
  <%=render 'shared/footer'%>
  <%= jquery_include_tag :google %>
  <%= javascript_include_tag "application"%>
  <%= yield :javascripts %>
  <script>
    $.webshims.polyfill();
    $('#navbar').tinyNav();
    $("a[rel=popover]").popover();
  </script>
</body>
</html>
