<%=render 'shared/head'%>
<body>
  <nav class="meny" role="navigation">
    <ul id="nav" class="marginbot0 margintop-p nav nav-list" role="menu">
    <%=render 'shared/menu'%>
    </ul>
  </nav><!--meny-->
  <div class="container-fluid">
    <div class="page-alert">
      <%= bootstrap_flash %>
      <!--[if lt IE 7]>
        <div class="alert" role="alert">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
        </div>
      <![endif]-->
    </div><!--page-alert-->
    <div class="row-fluid">
    <div class="span2 fuckinglightgray margintop-p hidden-phone">
      <div class="menu fade in" style="position:fixed">
      <i class="icon-reorder muted"></i> Menu
      </div><!--fade-->
    </div><!--span2-->
    <div class="span8 margintop0 marginbot-h1">
    <% if content_for?(:header) %>
      <div class="align-center margintop-h1">
        <%=yield :header %>
      </div>
    <%end%>
    <% if content_for?(:slogan) %>
      <heading class="align-center">
        <h1 role="banner"><%=yield :slogan %></h1>
      </heading>
    <%end%>
    <% if content_for?(:description) %>
      <h5 class="cmun">
        <%=yield :description %>
      </h5>
    <%end%>
    <article role="main">
    <%=yield%>
    </article>
    </div><!--span8-->
    </div><!--row-->
    <%=render 'shared/footer' %>
  </div><!--containerfluid-->
  <script async src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/jquery.js?body=1"><\/script>')</script>
  <script async src="//cdnjs.cloudflare.com/ajax/libs/enquire.js/1.5.4/enquire.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/enquire.min.js?body=1"><\/script>')</script>
  <%if controller.controller_name == 'subjects'%>
  <script async src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/jquery-ui.js?body=1"><\/script>')</script>
  <script>
  $(window).load(function() {
      return $('.sortable').sortable({
        axis: 'y',
        // handle: '.handle',
        items: 'tr',
        cursor: 'ns-resize',
        update: function() {
          return $.post($(this).data('update-url'), $(this).sortable('serialize'));
        },
        helper: function(e, tr)
        {
            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function(index)
            {
              // Set helper cell sizes to match the original sizes
              $(this).width($originals.eq(index).width());
            });
            return $helper;
        }
      });
    });
  </script>
  <%end%>
  <%if controller.controller_name == 'usr' && controller.action_name == 'create_item'%>
  <script async src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js"></script>
  <script async src="//cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="/assets/angular.min.js?body=1"><\/script>')
    window.jQuery || document.write('<script src="/assets/select2.min.js?body=1"><\/script>')
    $(window).load(function() {
      $(".el").select2();
      $("input:password").chromaHash({bars: 3, salt:"7be82b35cb0199120eea35a4507c9acf", minimum:6});
    });
    $(".seab_topic").on("change", function(e) {
      $("#h3_seab_header").text($("div.seab_topic span").text());
    });
  </script>
  <%end%>
  <%=javascript_include_tag 'application'%>
  <script>
  var meny = Meny; // Back up Meny
  var toggle = -1;
  $(window).load(function() {
  enquire.register("screen and (max-width:767px)", {
        match : function() {
          Meny = 0; // Get rid of Meny
          $('#nav').unwrap();
          if(toggle<0){ // Only add 2D menu once
            $(function () {
              $('#nav').tinyNav();
            });
            toggle++;
          }
          toggle++;
        }
    }).register("screen and (min-width:768px)", {
        match : function() {
          if(toggle==1){
            Meny = meny; //Restore Meny
            $('#nav').wrap('<nav class="meny" role="navigation" />');
            toggle--;
          }
          Meny.create({
            menuElement: document.querySelector( '.meny' ),
            contentsElement: document.querySelector( '.container-fluid' ),
            position: 'left',
            width: 170,
            threshold: 100
          });
        }
    }).listen();
    });
  </script>
</body>
</html>
