<%=render 'shared/head'%>
<body>
  <div class="container-fluid">
    <div class="page-alert">
      <%= bootstrap_flash %>
      <!--[if lt IE 7]>
        <div class="alert">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
        </div>
      <![endif]-->
    </div><!--page-alert-->
    <div class="row-fluid">
    <div class="span8 offset2 margintop0 marginbot-h1">
      <div class="navbar marginbot0">
        <div class="element-center fade in">
        <ul class="nav margin-reset">
          <%=render 'shared/menu'%>
        </ul>
      </div>
      </div>
    <% if content_for?(:header) %>
      <div class="aligncenter margintop-h1">
        <%=yield :header %>
      </div>
    <%end%>
    <% if content_for?(:slogan) %>
      <div class="aligncenter">
        <h1><%=yield :slogan %></h1>
      </div>
    <%end%>
    <% if content_for?(:description) %>
      <h3 class="cmun">
        <%=yield :description %>
      </h3>
    <%end%>
    <%=yield%>
    </div><!--span8-->
    </div><!--row-->
    <%=render 'shared/footer' %>
  </div><!--containerfluid-->

  <%=jquery_include_tag :google%>
  <%#=jquery_ui_include_tag :google%>
  <%=javascript_include_tag 'application'%>
  <%= yield :javascripts %>
  <% if user_signed_in? %>
    <% if current_user.role = "admin"%>
      <script>
        $(document).ready(function() { $(".el").select2(); });
      </script>
    <%end%>
  <%end%>
  <script>
  $('.navbar').tooltip({
    selector: "a[rel=tooltip]",
  });
  </script>
</body>
</html>
