<%=render 'shared/head'%>
<body>
  <nav class="meny" role="navigation">
    <ul id="nav" class="marginbot0 margintop-p nav nav-list" role="menu">
    <%=render 'shared/menu'%>
    </ul>
  </nav><!--meny-->
  <div class="container-fluid">
    <div class="page-alert">
      <%= bootstrap_flash %>
      <!--[if lt IE 7]>
        <div class="alert" role="alert">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
        </div>
      <![endif]-->
    </div><!--page-alert-->
    <div class="row-fluid">
    <div class="span2 fuckinglightgray margintop-p hidden-phone">
      <div class="menu fade in" style="position:fixed">
      <i class="icon-reorder muted"></i> Menu
      </div><!--fade-->
    </div><!--span2-->
    <div class="span8 margintop0 marginbot-h1">
    <% if content_for?(:header) %>
      <div class="align-center margintop-h1">
        <%=yield :header %>
      </div>
    <%end%>
    <% if content_for?(:slogan) %>
      <heading class="align-center">
        <h1 role="banner"><%=yield :slogan %></h1>
      </heading>
    <%end%>
    <% if content_for?(:description) %>
      <h5 class="cmun">
        <%=yield :description %>
      </h5>
    <%end%>
    <article role="main">
    <%=yield%>
    </article>
    </div><!--span8-->
    </div><!--row-->
    <%=render 'shared/footer' %>
  </div><!--containerfluid-->
  <%=localstorage_shim%>
  <%=javascript_include_tag 'application'%>
  <%= yield :javascripts %>
  <% if user_signed_in? %>
    <script>
      $(document).ready(function() {
        $(".el").select2();
      });
      $(".seab_topic").on("change", function(e) {
        $("#h3_seab_header").text($("div.seab_topic span").text());
      });
    </script>
  <%end%>
  <script>
  var meny = Meny; //Back up Meany
  var toggle = -1;
  enquire.register("screen and (max-width:767px)", {
        match : function() {
          Meny = 0; //Get rid of Meany
          $('#nav').unwrap();
          if(toggle<0){ //Only add 2D menu once
            $(function () {
              $('#nav').tinyNav();
            });
            toggle++;
          }
          toggle++;
        }
    }).register("screen and (min-width:768px)", {
        match : function() {
          if(toggle==1){
            Meny = meny; //Restore Meny
            $('#nav').wrap('<nav class="meny" role="navigation" />');
            toggle--;
          }
          Meny.create({
            menuElement: document.querySelector( '.meny' ),
            contentsElement: document.querySelector( '.container-fluid' ),
            position: 'left',
            width: 200,
            threshold: 100
          });
        }
    }).listen();
    $("input:password").chromaHash({bars: 3, salt:"7be82b35cb0199120eea35a4507c9acf", minimum:6});
  </script>
</body>
</html>
