<%=render 'shared/head'%>
<body>
  <nav class="meny">
    <ul class="nav nav-list">
    <%=render 'shared/start'%>
    <% if content_for?(:sidebar) %>
      <li class="divider"></li>
      <%=yield :sidebar %>
    <%end%>
    <% if controller.controller_name == 'pages'%>
      <li class="divider"></li>
      <li class="nav-header">Pages</li>
      <%=render 'shared/pages'%>
    <%end%>
    <% if controller.controller_name == 'subjects'%>
      <li class="divider"></li>
      <li class="nav-header">Subjects</li>
      <%=render 'shared/navsubjects'%>
    <%end%>
    <% if user_signed_in? %>
      <li class="divider"></li>
      <li class="nav-header">Manage</li>
      <%=render 'shared/navmanage'%>
    <%end%>
    <%=render 'shared/last'%>
    </ul>
  </nav><!--meny-->
  <div class="meny-arrow"><h2><i class="icon-caret-right icon-large"></i> Menu</h2></div>
  <div class="container-fluid">
    <div class="page-alert">
      <%= bootstrap_flash %>
      <!--[if lt IE 7]>
        <div class="alert">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
        </div>
      <![endif]-->
    </div><!--page-alert-->
    <div class="row-fluid">
    <div class="span8 offset2">
    <% if content_for?(:header) %>
      <div class="aligncenter">
        <%=yield :header %>
      </div>
    <%end%>
    <% if content_for?(:slogan) %>
      <div class="aligncenter">
        <h1><%=yield :slogan %></h1>
      </div>
    <%end%>
    <% if content_for?(:description) %>
      <h3 class="cmun">
        <%=yield :description %>
      </h3>
    <%end%>
    <%=yield%>
    </div><!--span8-->
    </div><!--row-->
  </div><!--containerfluid-->
  <%=jquery_include_tag :google%>
  <%#=jquery_ui_include_tag :google%>
  <%=javascript_include_tag 'application'%>
  <%= yield :javascripts %>
  <script>
    var meny = Meny.create({
      menuElement: document.querySelector( '.meny' ),
      contentsElement: document.querySelector( '.container-fluid' ),
      position: 'left',
      width: 250,
      threshold: 100
    });
  </script>
</body>
</html>
