<%=render 'shared/head'%>
<%=stylesheet_link_tag "reveal", :media => "all"%>
<body>
  <div class="reveal">
      <div class="state-background"></div>
      <div class="slides">
      <%=yield%>
      </div><!--slides-->
  </div><!--reveal-->
  <%= jquery_include_tag :google %>
  <%=javascript_include_tag "application"%>
  <%=javascript_include_tag "head.min"%>
  <%=javascript_include_tag "reveal"%>
  <%=yield :javascripts%>
  <script>
  $.webshims.polyfill();
  Reveal.initialize({
    controls: true,
        progress: true,
        history: true,
        center: true,
    dependencies: [
        // { src: '<%=asset_path('classList.js')%>', condition: function() { return !document.body.classList; } },
        { src: '<%=asset_path('zoom.js')%>', async: true, condition: function() { return !!document.body.classList; } },
    ]
  });
  </script>
</body>
</html>
