<%=render 'shared/head'%>
<body>
	<div class="page-alert">
    <%=bootstrap_flash%>
    <!--[if lt IE 7]>
      <div class="alert">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
      </div>
    <![endif]-->
  </div><!--page-alert-->
  <div id="breadcrumb">
    <ul class="breadcrumb">
      <li><%=link_to @lesson.subject.subject, subject_path(@lesson.subject.subject)%> <span class="divider">/</span></li>
      <li><%=link_to @lesson.topic.topic, subject_path(@lesson.topic.topic)%>  <span class="divider">/</span></li>
      <li class="active">Data</li>
    </ul>
  </div>
  <div class="reveal">
      <div class="state-background"></div>
      <div class="slides">
      <%=yield%>
      </div><!--slides-->
  </div><!--reveal-->
  <%=javascript_include_tag "application"%>
  <script>
	Reveal.initialize({
		history: true,
    rollingLinks: false,
    center: false,
		mouseWheel: true,
		transition: 'linear',
	});
  $('section').tooltip({
    selector: "a[rel=tooltip]",
    delay: {hide: 500}
  });
  Reveal.addEventListener( 'slidechanged', function( event ) {
    callPlayer("player" + (Reveal.getIndices().h-1).toString(), "pauseVideo");
    callPlayer("player" + (Reveal.getIndices().h).toString(), "pauseVideo");
    callPlayer("player" + (Reveal.getIndices().h+1).toString(), "pauseVideo");
  });
  Reveal.getIndices();
  </script>
</body>
</html>
