<%=render 'shared/head'%>
<body>
	<div class="page-alert">
    <%=bootstrap_flash%>
    <!--[if lt IE 7]>
      <div class="alert">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
      </div>
    <![endif]-->
  </div><!--page-alert-->
  <div id="breadcrumb">
    <small>
      <%=render 'shared/breadcrumb'%>
    </small>
  </div><!--breadcrumb-->
  <div class="reveal">
      <div class="state-background"></div>
      <div class="slides">
      <%=yield%>
      </div><!--slides-->
  </div><!--reveal-->
  <div id="report_error" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="report_error" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3>Report Error</h3>
    </div><!--header-->
    <div class="modal-body">
      <form>
        <textarea rows="6" class="input-block-level" placeholder="What's the problem?" required autofocus style="font-size:75%;"></textarea>
        <input type="email" class="input-block-level"  placeholder="Your Email Address (optional)" style="font-size:75%;">
      </form>
    </div><!--body-->
    <div class="modal-footer align-center">
      <button class="btn btn-mini" style="width:50%; font-size:75%;">Submit</button>
    </div><!--footer-->
  </div><!--modal-->
  <div id="mobile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mobile" aria-hidden="true">
    <div class="modal-header align-center">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
      <h3>Send to Phone</h3>
    </div><!--header-->
    <div class="modal-body align-center">
      <div id="qrcode" class="margintop-p marginbot-p" data-url="<%=url_for(:only_path => false)%>"></div>
      <form>
        <input type="url" class="input-block-level align-center" value="<%=url_for(:only_path => false)%>" style="font-size:75%;">
      </form>
    </div><!--body-->
    <div class="modal-footer align-center">
      <button class="btn btn-mini" data-dismiss="modal" style="width:50%; font-size:75%;">Close</button>
    </div><!--footer-->
  </div><!--modal-->
  <script async src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <%=javascript_include_tag "application"%>
  <script>
  window.jQuery || document.write('<script src="/assets/jquery.js?body=1"><\/script>')
	Reveal.initialize({
		history: true,
    rollingLinks: false,
    center: false,
		mouseWheel: false,
		transition: 'linear',
	});
  $('section').tooltip({
    selector: "a[rel=tooltip]",
    delay: {hide: 500}
  });
  Reveal.addEventListener( 'slidechanged', function( event ) {
    callPlayer("player" + (Reveal.getIndices().h-1).toString(), "pauseVideo");
    callPlayer("player" + (Reveal.getIndices().h).toString(), "pauseVideo");
    callPlayer("player" + (Reveal.getIndices().h+1).toString(), "pauseVideo");
  });
  Reveal.getIndices();
  $('#qrcode').qrcode($('#qrcode').data("url"));
  </script>
</body>
</html>
