<%=render 'shared/head'%>
<body>
	<div class="page-alert">
    <%=bootstrap_flash%>
    <!--[if lt IE 7]>
      <div class="alert">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
      </div>
    <![endif]-->
  </div><!--page-alert-->
  <div id="breadcrumb">
    <small style="font-size:55%;">
      <%=render 'shared/breadcrumb'%>
    </small>
  </div><!--breadcrumb-->
  <div class="reveal">
      <div class="state-background"></div>
      <div class="slides">
      <%=yield%>
      </div><!--slides-->
  </div><!--reveal-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%=javascript_include_tag "application"%>
  <script>
  window.jQuery || document.write('<script src="/assets/jquery.js?body=1"><\/script>')
	Reveal.initialize({
		history: true,
    rollingLinks: false,
    center: false,
		mouseWheel: false,
		transition: 'linear',
	});
  function applyBalanceText() {
    $(".balance-text").balanceText();
  }
  applyBalanceText();
  $(window).resize(applyBalanceText);
  Reveal.addEventListener( 'slidechanged', function(event) {
    callPlayer("player" + (Reveal.getIndices().h-1).toString(), "pauseVideo");
    callPlayer("player" + (Reveal.getIndices().h).toString(), "pauseVideo");
    callPlayer("player" + (Reveal.getIndices().h+1).toString(), "pauseVideo");
    applyBalanceText();
  });
  $('section').tooltip({
    selector: "a[rel=tooltip]",
    delay: {hide: 500}
  });
  $('#qrcode').qrcode({
    render: 'canvas',
    width:200,
    height:200,
    text: $('#qrcode').data("url")
  });
  $('.mobile').on("click", function(event) {
    return $('#mobile').modal();
  });
  $('.report_error').on("click", function(event) {
    return $('#report_error').modal();
  });
  $(".objective").on("click", function(event) {
    return $(this).find("i").toggleClass("icon-check-empty icon-check");
  });
  var _gaq=[['_setAccount','UA-26070822-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('http://www.google-analytics.com/ga.js');
  s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
